<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="applicable-device" content="pc" />
    <title>关于我们-易趣桌游</title>
    <meta name="keywords" content="桌游的世界等你来探寻,易趣桌游" />
    <meta name="description" content="" />
    <meta name="author" content="易趣桌游" />


    <script type="text/javascript" src="/plugins/public/js/cookies.js"></script>
    <script src="/plugins/public/js/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="/Language/Zh-cn/Language.js"></script>
</head>

<body data-chid="20170400" data-operate="0" data-bigclassid="0" data-type="76" data-hyid="0" id="webBody" data-copyid="0" data-copyuserid="1656928">
    <div class="wrapper wrapper-1200" id="wrapper">
        <script type="text/javascript" src="/Language/Zh-cn/Language.js"></script>
        <script type="text/javascript">
            var ev123_no_edit = '';
            var user_name = 'ningbo123';
            var isTj = '1';
            var user_level = 3;
            var agent_id = 15483;
            var channel_type = 76;
            var channel_id = 20170400;
            var userSiteWidth = 1200;
            var is_action = false;
            var isParentWindow = false;
            var rowIds = "67,69,58,59";
            var MJsData = {};
            var CURRENCY_SIGN = '￥';
            var tncode_div = null;
            var ALIYUN_OSS_DOMAIN = "/";


            var GData = {
                SMAlbumIds: "",
                SMAlbumSysIds: "",
                docSysIds: "",
                tabAlertStrMs: "",
                allChId: "20170400",
                wapDomain: 'm.enjoygamepublish.com',
                end: null
            };
        </script>
        <link rel="stylesheet" href="/js/ev_popup/skin/skin.min.css" />
        <script type="text/javascript" src="/js/ev_popup/ev_popup.min.js"></script>
        <script type="text/javascript">
            function createLogin(trespass, userid) {
                $.popup({
                    type: 5,
                    cName: "evPopupOpacity",
                    head: {
                        yes: 0
                    },
                    shade: {
                        yes: 1,
                        bgColor: '#000',
                        opacity: 0.6,
                        animate: {
                            type: 1,
                            target: 0.6
                        },
                        close: false
                    },
                    area: {
                        w: 790,
                        h: 500
                    },
                    con: {
                        src: '/dom/alert_login.php?username=ningbo123&trespass=' + trespass + '&userid=' + userid
                    }
                });
            }
        </script>

        <script type="text/javascript" src="/js/VNew/public.js"></script>
        <script type="text/javascript" src="/plugins/public/js/lightGallery/js/lightgallery-all.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/plugins/public/js/lightGallery/css/lightgallery.min.css" />
        <script type="text/javascript" src="/js/VNew/tj/jquery.scrollify.min.js"></script>
        <script type="text/javascript" src="/js/VNew/tj/public_fun.js"></script>
        <link type="text/css" rel="stylesheet" href="/css/VNew/base.min.css" />
        <link type="text/css" rel="stylesheet" href="/css/VNew/animate.min.css" />
        <link type="text/css" rel="stylesheet" href="/css/VNew/icon_text/iconfont.min.css" />
        <link type="text/css" rel="stylesheet" href="/css/VNew/web_frame.min.css" />
        <link type="text/css" rel="stylesheet" href="/css/VNew/inner_frame.min.css" />
        <link type="text/css" rel="stylesheet" href="/templates/others27/css/skincolor.css" />
        <link type="text/css" rel="stylesheet" href="/templates/others27/css/webskin.css" id="webSkinCss" />
        <link type="text/css" rel="stylesheet" href="/css/VNew/web_style/base_module_style.min.css" />
        <link type="text/css" rel="stylesheet" href="/self_define/TJStyle.php?user_id=1721546&all_ch_id=20170400&channel_id=20170400&mids=&token_id=7&random=1582696332" />
        <script type="text/javascript" src="/plugins/public/js/base64.min.js"></script>
        <script type="text/javascript" src="/plugins/public/js/json2.js"></script>
        <script id="languages_jquery_validationEngine_js" type="text/javascript" charset="gb2312" src="/js/posabsolute-jQuery-Validation-Engine-2c29415/js/languages/jquery.validationEngine-zh_CN.js"></script>


        <div class="customModuleRow headPublicModuleRow customModuleRowAbsolute " id="row_58" data-animated="0">


            <div class="customModuleRowInner">
                <div class="CModulePA" style="height:0px;">
                    <div data-fixed="0" data-fixedx="-1" id="evMo_aIzEsl" class="ev-module-edit" style="width:291px; height:44px; left:454px; top:18px; z-index:1;">
                        <div class="ev-module-edit-box " id="Mo_aIzEsl">
                            <a href="###">
                                <div class="ev-pic ev-pic-1 ">
                                    <img src="" class="default-img lazy-loading" data-original-src="https://aimg8.dlssyht.cn/module/simplepicbackground/1721546/6579/13157181_1559204658.png?x-oss-process=image/resize,m_fixed,w_291,h_44,limit_0" />

                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-fixed="0" data-fixedx="-1" id="evMo_PwWZL" class="ev-module-edit" style="width:70px; height:32px; left:1030px; top:99px; z-index:2;">
                        <div class="ev-module-edit-box" id="Mo_PwWZL">
                            <a href="/dom/denglu.php?username=ningbo123" target="_blank">
                                <div class="ev-base-button ev-base-button-1-1">
                                    <b class="btn-text">登录</b>
                                    <em class="btn-m"></em>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-fixed="0" data-fixedx="-1" id="evMo_4vJHUX" class="ev-module-edit" style="width:70px; height:32px; left:1130px; top:99px; z-index:3;">
                        <div class="ev-module-edit-box" id="Mo_4vJHUX">
                            <a href="/dom/zhuce.php?username=ningbo123" target="_blank">
                                <div class="ev-base-button ev-base-button-1-1">
                                    <b class="btn-text">注册</b>
                                    <em class="btn-m"></em>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <link type="text/css" rel="stylesheet" id="sliding_verification_style_css" href="/plugins/public/js/slidingVerification/sliding_verification_style.css" />
        <script type="text/javascript" id="sliding_tn_code_js" src="/plugins/public/js/slidingVerification/sliding_tn_code.js"></script>
        <script type="text/javascript">
            function userUserLoginInfo() {
                return true;
            }
        </script>
        <div class="fullSubNavBox" id="fullSubNavBox">

        </div>
        <div class="headFullXY" id="headFullXY">
            <div style="padding-top:1px; margin-bottom: -1px;"></div>


            <div class="absoluteModuleWrap" id="absolute_module_wrap" data-attr="l:80,h:0,c:0">
                <div class="absoluteModuleInner" id="absolute_module_inner">



                </div>
            </div>
            <div class="header" id="header" data-fixed="0" data-fixedx="-1">
                <div class="headerInner">
                    <div class="headerBg"></div>
                    <div class="headerConArea">
                        <div class="headerCon" style="height:80px;"></div>
                    </div>
                </div>
            </div>

            <div class="nav-wrap" id="navWrap">
                <div class="webNav" id="web_nav" data-l="p:2,l:0,t:0,w:1200,wt:0" style="  left:auto; top:auto;  " data-fixed="1" data-fixedx="-1" data-numberflag="1" data-number="9" data-sublayout="1">
                    <div class="navInner">
                        <div class="nav nav_1000" id="nav">
                            <i class="NLeft"></i>
                            <i class="NRight"></i>
                            <div class="NMainBg"></div>
                            <div class="NCenter">
                                <dl class="NMain">
                                    <dd class="NItem NFirst" data-subid="">
                                        <table class="NItemTable">
                                            <tr>
                                                <td class="NItemL"></td>
                                                <td class="NItemM">
                                                    <a title="首页" href="/home"><span>首页</span></a>
                                                </td>
                                                <td class="NItemR"></td>
                                            </tr>
                                        </table>
                                    </dd>
                                    <dd class="NLine"></dd>

                                    <dd class="NItem  NItemCur" data-subid="">
                                        <table class="NItemTable">
                                            <tr>
                                                <td class="NItemL"></td>
                                                <td class="NItemM"><a href="/about" title="关于我们">
                        <span>关于我们</span>
                    </a></td>
                                                <td class="NItemR"></td>
                                            </tr>
                                        </table>

                                    </dd>
                                    <dd class="NLine"></dd>
                                    <dd class="NItem " data-subid="">
                                        <table class="NItemTable">
                                            <tr>
                                                <td class="NItemL"></td>
                                                <td class="NItemM"><a href="/estore" title="官方商城">
                        <span>官方商城</span>
                    </a></td>
                                                <td class="NItemR"></td>
                                            </tr>
                                        </table>

                                    </dd>
                                    <dd class="NLine"></dd>
                                    <dd class="NItem " data-subid="">
                                        <table class="NItemTable">
                                            <tr>
                                                <td class="NItemL"></td>
                                                <td class="NItemM"><a href="/crowdfunding" title="D.E.I.">
                        <span>D.E.I.</span>
                    </a></td>
                                                <td class="NItemR"></td>
                                            </tr>
                                        </table>

                                    </dd>


<!-- －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－ -->
                               <td class="NItemR"></td>
                                            </tr>
                                        </table>

                                    </dd>
                                    <dd class="NLine"></dd>
                                    <dd class="NItem " data-subid="">
                                        <table class="NItemTable">
                                            <tr>
                                                <td class="NItemL"></td>
                                                <td class="NItemM"><a href="/flight" title="在线桌游">
                        <span>在线桌游</span>
                    </a></td>
                                                <td class="NItemR"></td>
                                            </tr>
                                        </table>

                                    </dd>


<!-- －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－ -->


                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bannerArea" id="banner_area">
                <div class="bannerCon">
                    <div class="ev-banner-module banner-smallpic-style-0" data-canvas-type="0" data-effect-type="0" data-auto-time="5" data-duration-time="1">
                        <div class="ev-banner-inner">
                            <div class="canvas-area canvas-style-0"></div>
                            <div class="piclist-area">
                                <ul class="piclist-box">
                                    <li class="list-item">
                                        <div style="background-color:#ffffff;" class="video-item" data-url="https://aimg8.dlssyht.cn/u/1721546/tj/mp4/861/5da7cf94782088.95829429.mp4" data-open="1" data-muted="0">
                                            <a></a>
                                            <video autoplay="autoplay" src="https://aimg8.dlssyht.cn/u/1721546/tj/mp4/861/5da7cf94782088.95829429.mp4" loop="loop"></video>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

        </div>

        <div class="mainContainer q " id="main_container">

            <div class="addContainer q" id="add_container" data-attr="h:0">
                <div class="customModuleRow customModuleRowAbsolute " id="row_67" data-animated="0">


                    <div class="customModuleRowInner">
                        <div class="CModulePA" style="height:827px;">

<!--                             <div id="evMo_b1WiA" class="ev-module-edit" style="width:392px; height:189px; left:194px; top:562px; z-index:1;">
                                <div class="ev-module-edit-box" id="Mo_b1WiA">

                                    <div class="ev-base-shape ev-base-shape-2"></div>


                                </div>
                            </div> -->

                            <div id="evMo_9DdV5" class="ev-module-edit" style="width:359px; height:47px; left:420px; top:51px; z-index:2;">
                                <div class="ev-module-text ev-module-edit-box load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_9DdV5">
                                    <h1 class="ev-text-title-1" style="text-align:center;">
                                        <span style="font-family:微软雅黑;font-size:30px;color:#333333;">ABOUT OUR COMPANY</span>
                                    </h1>
                                </div>
                            </div>
                            <div id="evMo_cWnYd0" class="ev-module-edit" style="width:1200px; height:13px; left:0px; top:107px; z-index:3;">
                                <div class="ev-module-edit-box load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_cWnYd0">
                                    <a href="###">
                                        <hr class="ev-line ev-line-2" />
                                    </a>
                                </div>
                            </div>
                            <div id="evMo_CoybVz" class="ev-module-edit" style="width:210px; height:48px; left:495px; top:137px; z-index:4;">
                                <div class="ev-module-text ev-module-edit-box load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_CoybVz">
                                    <h1 class="ev-text-title-1" style="text-align:center;">
                                        <span style="font-family:微软雅黑;font-size:30px;color:#333333;"><strong>关于我们</strong></span>
                                    </h1>
                                </div>
                            </div>
                            <div id="evMo_tgVtMv" class="ev-module-edit" style="width:1088px; height:357px; left:61px; top:185px; z-index:5;">
                                <div class="ev-module-text ev-module-edit-box load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_tgVtMv">
                                    <div style="text-align:center;">
                                        <span style="color:#555555;font-family:微软雅黑;font-size:16px;line-height:1.9;"> 
	<p style="color:#2953A6;font-family:宋体;text-align:center;">
		<span style="font-size:16px;font-family:幼圆;color:#666666;line-height:2;"><span style="font-weight:700;line-height:2;font-family:幼圆;color:#666666;"><strong>认识桌游是一场缘分，</strong></span></span>
                                        </p>
                                        <p style="color:#2953A6;font-family:宋体;text-align:center;">
                                            <span style="font-size:16px;font-family:幼圆;color:#666666;line-height:2;"><span style="font-weight:700;line-height:2;font-family:幼圆;color:#666666;"><strong>坐在桌子前，放下手机，我们可以彼此凝视，</strong></span></span>
                                        </p>
                                        <p style="color:#2953A6;font-family:宋体;text-align:center;">
                                            <span style="font-size:16px;font-family:幼圆;color:#666666;line-height:2;"><span style="font-weight:700;line-height:2;font-family:幼圆;color:#666666;"><strong>然后共同沉浸到桌游的世界中，</strong></span></span>
                                        </p>
                                        <p style="color:#2953A6;font-family:宋体;text-align:center;">
                                            <span style="font-size:16px;font-family:幼圆;color:#666666;line-height:2;"><span style="font-weight:700;line-height:2;font-family:幼圆;color:#666666;"><strong>享受战场厮杀、或是探索古文明、亦或是经历一场金融风暴，</strong></span></span>
                                        </p>
                                        <p style="color:#2953A6;font-family:宋体;text-align:center;">
                                            <span style="font-family:幼圆;font-size:16px;color:#666666;line-height:2;"><span style="font-weight:700;line-height:2;font-family:幼圆;color:#666666;"><strong>我们可以在精心设计的布局中，享受这单纯的几小时的快乐。</strong></span></span>
                                        </p>
                                        <p style="color:#2953A6;font-family:宋体;text-align:center;">
                                            <span style="font-family:幼圆;font-size:16px;color:#666666;line-height:2;"><span style="font-weight:700;line-height:2;font-family:幼圆;color:#666666;"><strong>我们想要带给大家更多有趣好玩的桌游，</strong></span></span>
                                        </p>
                                        <p style="color:#2953A6;font-family:宋体;text-align:center;">
                                            <span style="font-family:幼圆;font-size:16px;color:#666666;line-height:2;"><span style="font-weight:700;line-height:2;font-family:幼圆;color:#666666;"><strong>无论你喜欢的风格是重口</strong></span></span><span style="font-family:幼圆;font-size:16px;color:#666666;line-height:2;"><span style="font-weight:700;line-height:2;font-family:幼圆;color:#666666;"><strong>的、毛线的、互车的、精算的，</strong></span></span>
                                        </p>
                                        <p style="color:#2953A6;font-family:宋体;text-align:center;">
                                            <span style="font-family:幼圆;font-size:16px;color:#666666;line-height:2;"><span style="font-weight:700;line-height:2;font-family:幼圆;color:#666666;"><strong>在这里你都</strong></span></span><span style="font-family:幼圆;font-size:16px;color:#666666;line-height:2;"><span style="font-weight:700;line-height:2;font-family:幼圆;color:#666666;"><strong>能找到属于你的那份快乐！</strong></span></span>
                                        </p>
                                        <p style="color:#2953A6;font-family:宋体;text-align:center;">
                                            <span style="font-family:幼圆;font-size:16px;color:#666666;line-height:2;"><span style="font-weight:700;line-height:2;font-family:幼圆;color:#666666;"><strong>我们希望所有关注易趣桌游的朋友们，</strong></span></span>
                                        </p>
                                        <p style="color:#2953A6;font-family:宋体;text-align:center;">
                                            <span style="font-family:幼圆;font-size:16px;color:#666666;line-height:2;"><span style="font-weight:700;line-height:2;font-family:幼圆;color:#666666;"><strong>都能收获最初得到心爱的玩具时的那份快乐。</strong></span></span>
                                        </p>
                                        <p style="color:#2953A6;font-family:宋体;text-align:center;">
                                            <span style="font-family:幼圆;font-size:16px;color:#666666;line-height:2;"><span style="font-weight:700;line-height:2;font-family:幼圆;color:#666666;"><strong>Let's enjoy games！</strong></span></span><span style="font-size:16px;color:#000000;"></span>
                                        </p>
                                        <div>
                                            <br>
                                        </div>
                                        </span>
                                    </div>
                                    <span style="font-family: 微软雅黑; font-size: 16px; color: rgb(85, 85, 85);"> 
<div style="text-align:center;">
	<span style="line-height:1.9;"></span>
                                </div>
                                </span>
                            </div>
                        </div>
                        <div id="evMo_IPeqs" class="ev-module-edit" style="width:49px; height:33px; left:206px; top:574px; z-index:6;">
                            <div class="ev-module-edit-box" id="Mo_IPeqs">

                                <div class="ev-icon-text"><i class="evIcon evIcon-email-1" style="font-size: 28px;"><i></i></i>
                                </div>

                            </div>
                        </div>
                        <div id="evMo_uwg3V" class="ev-module-edit" style="width:237px; height:46px; left:266px; top:580px; z-index:7;">
                            <div class="ev-module-text ev-module-edit-box" id="Mo_uwg3V">
                                <h1 class="ev-text-title-1">
                                    <span style="font-size:18px;">售后问题：info@enjoygamepublish.com</span>
                                </h1>
                            </div>
                        </div>


                        <!-- 下面的无法显示 -->
                        <div id="evMo_pJ5CI" class="ev-module-edit" style="width:33px; height:36px; left:705px; top:571px; z-index:8;">
                            <div class="ev-module-edit-box" id="Mo_pJ5CI">

                                <div class="ev-icon-text"><i class="evIcon evIcon-tel-1" style="font-size: 28px;"><i></i></i>
                                </div>

                            </div>
                        </div>

                                  <!-- 下面的无法显示 -->
                        <div id="evMo_UZdfr" class="ev-module-edit" style="width:238px; height:70px; left:756px; top:580px; z-index:9;">
                            <div class="ev-module-text ev-module-edit-box" id="Mo_UZdfr">
                                <h1 class="ev-text-title-1">
                                    <span style="font-size:18px;">固定电话：0574-56806015</span>
                                </h1>
                                <h1 class="ev-text-title-1">
                                    <span style="font-size:18px;">手机：+8613484277245</span>
                                </h1>
                                <p>
                                    <span style="font-size:18px;">联系人：王先生</span>
                                </p>
                            </div>
                        </div>
                        <div id="evMo_LqVYf" class="ev-module-edit" style="width:339px; height:46px; left:266px; top:637px; z-index:10;">
                            <div class="ev-module-text ev-module-edit-box" id="Mo_LqVYf">
                                <h1 class="ev-text-title-1">
                                    <span style="font-size:18px;">物流问题：shipping@enjoygamepublish.com</span>
                                </h1>
                            </div>
                        </div>
                        <div id="evMo_6SPUm" class="ev-module-edit" style="width:339px; height:46px; left:266px; top:694px; z-index:11;">
                            <div class="ev-module-text ev-module-edit-box" id="Mo_6SPUm">
                                <h1 class="ev-text-title-1">
                                    <span style="font-size:18px;">业务咨询：jadewang@enjoygamepublish.com</span>
                                </h1>
                            </div>
                        </div>

<!--                         <div id="evMo_i5ai3" class="ev-module-edit" style="width:392px; height:189px; left:685px; top:563px; z-index:12;">
                            <div class="ev-module-edit-box" id="Mo_i5ai3">

                                <div class="ev-base-shape ev-base-shape-2"></div>


                            </div>
                        </div> -->



                        

                    </div>
                </div>
            </div>
            <div class="customModuleRow customModuleRowAbsolute " id="row_69" data-animated="0">


                <div class="customModuleRowInner">
                    <div class="CModulePA" style="height:118px;">
                        <div id="evMo_3XBv" class="ev-module-edit" style="width:481px; height:61px; left:359px; top:48px; z-index:1;">
                            <div class="ev-module-text ev-module-edit-box load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_3XBv">
                                <div style="text-align:center;">
                                    <strong><span style="font-family:微软雅黑;font-size:40px;color:#89D5D5;">WELCOME TO JOIN US</span></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="footer" id="footer">
        <div class="footerConArea">
            <div class="footerCon">
                <!--FOOTER NAV START-->
                <div class="footerNav" id="footer_nav">
                    <a href="/about">关于我们</a><em>|</em> <a href="/estore">官方商城</a> </div>
                <!--FOOTER NAV END-->
                <!--COPYRIGHT START-->
                <div class="copyright" id="copyright">
                    <p>Copyright @ 2018. All rights reserved. enjoy game 版权所有. 浙ICP备18035579号</p>
                    <center id="c2"></center>
                </div>
                <!--COPYRIGHT START-->
            </div>
        </div>
        <div class="footerBg"></div>
    </div>

    <script type="text/javascript">
        $("body").attr('id', 'webBody');
        wsf.fullRow.countMoPosition();
    </script>
    <!--online_type==6(2016在线客服)START-->
    <script language="JavaScript" src="/js/new_online_2016.js"></script>
    <link href="/css/new_online2016/sidebar_style.css" rel="stylesheet" type="text/css" />
    <link href="/css/new_online2016/sidebar_color4/sidebar_color.css" rel="stylesheet" type="text/css" />
    <div id="onService_panel" class="qq_onService_panel">
        <div class="sidebar2_Mo">
            <div class="sidebar2_list">
                <div class="sidebar2_listT ie_w">
                    <div class="list_c"></div>
                </div>
                <div class="sidebar2_listC">
                    <a id="prev_btn" class="prev_btn" href="###">
						<img src="/images/new_online2016/prev_icon.png">
					</a>
                    <ul class="function_list">
                        <!---电话-->
                        <li class="list">
                            <a class="tel_icon" href="###"></a>
                            <div class="lxwm_tel alt_c" style="right: -178px; opacity: 0;">
                                <div class="sidebar2_listT">
                                    <div class="list_c"></div>
                                </div>
                                <div class="lxwm_c alt_bg">
                                    <h2 class="lxwm_tit">&#30005;&#35805;&#30452;&#21628;</h2>
                                    <ul class="lxwm_list clearfix">
                                        <li>13484277245</li>
                                        <li>0574-56806015</li>
                                    </ul>
                                </div>
                                <div class="sidebar2_listB">
                                    <div class="list_c"></div>
                                </div>
                            </div>
                        </li>
                        <!---QQ-->
                        <!---二维码-->
                        <li class="list">
                            <a class="edit_icon" href="###"></a>
                            <div class="explain_text alt_c" style="right: -106px; opacity: 0;">
                                <div class="sidebar2_listT">
                                    <div class="list_c"></div>
                                </div>
                                <div class="explain_c alt_bg">
                                    <a href="/self_define/guest_book.php?username=ningbo123">
									<em>&#22312;&#32447;&#30041;&#35328;</em></a>
                                </div>
                                <div class="sidebar2_listB">
                                    <div class="list_c"></div>
                                </div>
                            </div>
                        </li>
                        <!-- 发送邮件 -->
                        <li class="list">
                            <a class="mail_icon" href="###"></a>
                            <div class="explain_text alt_c" style="right: -106px; opacity: 0;">
                                <div class="sidebar2_listT">
                                    <div class="list_c"></div>
                                </div>
                                <div class="explain_c alt_bg">
                                    <a href="mailto:jadewang@enjoygamepublish.com"><em>&#21457;&#36865;&#37038;&#20214;</em></a>
                                </div>
                                <div class="sidebar2_listB">
                                    <div class="list_c"></div>
                                </div>
                            </div>
                        </li>
                        <li class="list">
                            <a class="map_icon" href="###"></a>
                            <div class="explain_text alt_c" style="right: -106px; opacity: 0;">
                                <div class="sidebar2_listT">
                                    <div class="list_c"></div>
                                </div>
                                <div class="explain_c alt_bg">
                                    <a href="/self_define/map.php?username=ningbo123"><em>&#20225;&#19994;&#20301;&#32622;</em></a>
                                </div>
                                <div class="sidebar2_listB">
                                    <div class="list_c"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a id="next_btn" class="next_btn" href="###">
						<img src="/images/new_online2016/next_icon.png">
					</a>
                </div>
                <div class="sidebar2_listB ie_w">
                    <div class="list_c"></div>
                </div>
            </div>
            <div class="sidebar2_state">
                <a id="state_btn" href="###" class=""></a>
            </div>
        </div>
    </div>
    <!--END-->
    <div style="width:100%;line-height:30px;text-align:center; color:#666" class="ev_zhichi">
    </div>



    <a class="backTop_Z" id="backTop" onclick="backTop();" href="javascript:void(0);"></a>
    <!-- END -->
    <script type="text/javascript">
        window.onscroll = function() {
            var winTop_1 = document.documentElement.scrollTop;
            var winTop_2 = document.body.scrollTop;
            var winTop;
            (winTop_1 > winTop_2) ? winTop = winTop_1: winTop = winTop_2;
            if (winTop > 0) {
                $("#backTop").css({
                    'display': 'block'
                });
            }
            if (winTop == 0) {
                $("#backTop").css({
                    'display': 'none'
                });
            }
        }
    </script>

    <script type="text/javascript">
        var ev_log_userid = '1721546';
        var is_edit = '';
        var channel_id = '20170400';
        var hide_qu_ids = [];
        var hide_qu_ids_seted = [];
        var hide_big_qu_ids = [];
        var is_move = 0;
    </script>
    <script src="/plugins/public/js/md5.js"></script>
    <script src="/js/site_stats.js" id="SiteStats" data-val="0"></script>


    <script type="text/javascript" src="/include/shop_car.js"></script>

    <script type="text/javascript" src="/js/VNew/pc/self_edit_public.js"></script>
    <script type="text/javascript" src="/include/self_edit_set.js"></script>
    <script language="javascript">
        $(function() {
            $("a[href$='#_blank']").attr('target', '_blank');
            //$("a[href^='http://']").attr('target','_blank');
            $("a[href$='#_blank']").each(function() {
                var tmp_url = $(this).attr('href').slice(0, -7);
                $(this).attr('href', tmp_url);
            });
            $(".Container_edit").attr('target', '_top');

            $(".editor_content_air").find('img').each(function() {
                var that = $(this),
                    thatp = that.parents(".editor_content_air").parent();
                if (that.width() > thatp.width()) {
                    that.wrap('<div style="width:100%; overflow-y:auto;"></div>');
                }
            });

        });
    </script>


    <!--启动百度自动推送功能-->
    <script>
        (function() {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            } else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>




    <script type="text/javascript">
        $(function() {
            $("body").on("click", ".fieldTypeUploadFile", function() {
                var id = $(this).data("id");
                if (!id) {
                    return false;
                }

                $.popup({
                    type: 5,
                    head: {
                        "text": $(this).data("name")
                    },
                    area: {
                        w: 600,
                        h: 400
                    },
                    con: {
                        src: "/dom/FormFile.php?username=ningbo123&field_id=" + id
                    }
                });
            });
        });

        function updateFormFieldUploadfile(fieldId, filePath) {
            jQuery("#field_" + fieldId).validationEngine('hide')
            $("#field_" + fieldId).css("background-image", "none");
            $("#field_" + fieldId).val(filePath);
        }
    </script>



    <img id="pcCountImg" src="" style="width: 0;height: 0; display: block;">
    <img id="countTimeImg" src="" style="width: 0;height: 0; display: block;">
    <script type="text/javascript">
        $(function() {
            $('#pcCountImg').attr('src', "/images/stat.png?username=ningbo123&client=pc&url=" + encodeURI(window.location.href) + "&t=1582696332&new=0&userid=1721546&uv_id=bc5c2d57d480afeb8e427a0ad87f561c&session_id=k9ugc9p3phfupc0lfp0hqdrqmf&title=" + encodeURI($("title").text()));
            //访问时长统计
            setInterval(function() {
                $('#countTimeImg').attr('src', "/images/count_time.png?t=" + Math.random() + "&new=0");
            }, 60000);
        });
    </script>

    </div>



</body>

<script type="text/javascript">
    $(function() {
        if ($('#select2').length) {
            var mobile_class = $('#mobile').attr('class');
            $('#select2').change(function() {
                var val = $(this).val();
                if (val != '+86') {
                    $('#mobile').attr('class', 'text-input validate[required]');
                } else {
                    $('#mobile').attr('class', mobile_class);
                }
            })
        }
        var vs = $(".video-js").attr("style");
        setTimeout(function() {
            $(".video-js").attr("style", $(".video-js").attr("style") + vs);
        }, 1000)
    })
</script>

</html>