<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="applicable-device" content="pc" />
        <title>D.E.I.-易趣桌游</title>
    <meta name="keywords" content="桌游的世界等你来探寻,易趣桌游" />
    <meta name="description" content="" />
    <meta name="author" content="易趣桌游" />

            
                            <script type="text/javascript" src="/plugins/public/js/cookies.js"></script>
    <script src="/plugins/public/js/jquery-1.7.1.min.js"></script>
            
<script type="text/javascript" src="/Language/Zh-cn/Language.js"></script>            
    </head>
<body    data-chid="21761001" data-operate="0" data-bigclassid="0" data-type="76" data-hyid="0" id="webBody"  data-copyid="0" data-copyuserid="1656928" >
<div class="wrapper wrapper-1200" id="wrapper">
    <script type="text/javascript" src="/Language/Zh-cn/Language.js"></script>
<script type="text/javascript">
    var ev123_no_edit = '';
    var user_name = 'ningbo123';
    var isTj = '1';
    var user_level = 3;
    var agent_id = 15483;
    var channel_type = 76;
    var channel_id = 21761001;
    var userSiteWidth = 1200;
    var is_action = false;
    var isParentWindow = false;
    var rowIds = "117,126,134,142,58,59";
    var MJsData = {};
    var CURRENCY_SIGN = '￥';
    var tncode_div = null;
    var ALIYUN_OSS_DOMAIN = "/";


    var GData = {
        SMAlbumIds   : "",
        SMAlbumSysIds: "",
        docSysIds    : "",
        tabAlertStrMs: "",
        allChId     : "21761001",
        wapDomain    : 'm.enjoygamepublish.com',
        end          : null
    };
</script>
                    <link rel="stylesheet" href="/js/ev_popup/skin/skin.min.css" />
<script type="text/javascript" src="/js/ev_popup/ev_popup.min.js"></script>
<script type="text/javascript">
  function createLogin(trespass,userid){
      $.popup({
        type : 5,
        cName : "evPopupOpacity",
        head  : {yes:0},
        shade : {yes : 1, bgColor : '#000', opacity : 0.6, animate : {type : 1 , target : 0.6}, close : false},
        area  : {w:790,h:500},
        con   : {
          src : '/dom/alert_login.php?username=ningbo123&trespass='+trespass+'&userid='+userid
        }
      });
  }
</script>

    <script type="text/javascript" src="/js/VNew/public.js"></script>
    <script type="text/javascript" src="/plugins/public/js/lightGallery/js/lightgallery-all.min.js"></script>
<link type="text/css" rel="stylesheet" href="/plugins/public/js/lightGallery/css/lightgallery.min.css" />
    <script type="text/javascript" src="/js/VNew/tj/jquery.scrollify.min.js"></script>
    <script type="text/javascript" src="/js/VNew/tj/public_fun.js"></script>
<link type="text/css" rel="stylesheet" href="/css/VNew/base.min.css" />
<link type="text/css" rel="stylesheet" href="/css/VNew/animate.min.css" />
<link type="text/css" rel="stylesheet" href="/css/VNew/icon_text/iconfont.min.css" />
<link type="text/css" rel="stylesheet" href="/css/VNew/web_frame.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/VNew/inner_frame.min.css" />
    <link type="text/css" rel="stylesheet" href="/templates/others27/css/skincolor.css" />
<link type="text/css" rel="stylesheet" href="/templates/others27/css/webskin.css" id="webSkinCss"/>
<link type="text/css" rel="stylesheet" href="/css/VNew/web_style/base_module_style.min.css" />
            <link type="text/css" rel="stylesheet" href="/self_define/TJStyle.php?user_id=1721546&all_ch_id=21761001&channel_id=21761001&mids=&token_id=7&random=1582699825" />
        <script type="text/javascript" src="/plugins/public/js/base64.min.js"></script>
    <script type="text/javascript" src="/plugins/public/js/json2.js"></script>
        <script id="languages_jquery_validationEngine_js" type="text/javascript" charset="gb2312" src="/js/posabsolute-jQuery-Validation-Engine-2c29415/js/languages/jquery.validationEngine-zh_CN.js"></script>
    
                    
    <div class="customModuleRow headPublicModuleRow customModuleRowAbsolute "  id="row_58"    data-animated="0" >
        
        
        <div class="customModuleRowInner">
            <div class="CModulePA" style="height:0px;">
                    <div  data-fixed="0" data-fixedx="-1"  id="evMo_aIzEsl" class="ev-module-edit"  style="width:291px; height:44px; left:454px; top:18px; z-index:1;">
        <div class="ev-module-edit-box "  id="Mo_aIzEsl">
            <a href="###" >
                <div class="ev-pic ev-pic-1 " >
                    <img   src=""     class="default-img lazy-loading"  data-original-src="https://aimg8.dlssyht.cn/module/simplepicbackground/1721546/6579/13157181_1559204658.png?x-oss-process=image/resize,m_fixed,w_291,h_44,limit_0"  />
                    
                </div>
            </a>
        </div>
    </div>    <div  data-fixed="0" data-fixedx="-1"  id="evMo_PwWZL" class="ev-module-edit"  style="width:70px; height:32px; left:1030px; top:99px; z-index:2;">
        <div class="ev-module-edit-box"  id="Mo_PwWZL">
            <a href="/dom/denglu.php?username=ningbo123"  target="_blank" >
                <div class="ev-base-button ev-base-button-1-1">
                    <b class="btn-text">登录</b>
                    <em class="btn-m"></em>
                </div>
            </a>
        </div>
    </div>    <div  data-fixed="0" data-fixedx="-1"  id="evMo_4vJHUX" class="ev-module-edit"  style="width:70px; height:32px; left:1130px; top:99px; z-index:3;">
        <div class="ev-module-edit-box"  id="Mo_4vJHUX">
            <a href="/dom/zhuce.php?username=ningbo123"  target="_blank" >
                <div class="ev-base-button ev-base-button-1-1">
                    <b class="btn-text">注册</b>
                    <em class="btn-m"></em>
                </div>
            </a>
        </div>
    </div>
            </div>
        </div>
    </div>
    
<link type="text/css" rel="stylesheet" id="sliding_verification_style_css" href="/plugins/public/js/slidingVerification/sliding_verification_style.css" />
<script type="text/javascript" id="sliding_tn_code_js" src="/plugins/public/js/slidingVerification/sliding_tn_code.js"></script>
<script type="text/javascript">
    
        function userUserLoginInfo() {
        return true;
    }
    </script>
<div class="fullSubNavBox" id="fullSubNavBox">
    
</div>
<div class="headFullXY" id="headFullXY">
    <div style="padding-top:1px; margin-bottom: -1px;"></div>
    
    
        <div class="absoluteModuleWrap" id="absolute_module_wrap" data-attr="l:80,h:0,c:0">
        <div class="absoluteModuleInner" id="absolute_module_inner">
            
                                
        
                                    </div>
</div>
        <div class="header" id="header"  data-fixed="0" data-fixedx="-1"  >
    <div class="headerInner">
        <div class="headerBg"></div>
        <div class="headerConArea"><div class="headerCon" style="height:80px;" ></div></div>
    </div>
    </div>
    
        <div class="nav-wrap" id="navWrap">
                <div class="webNav" id="web_nav"  data-l="p:2,l:0,t:0,w:1200,wt:0"  style="  left:auto; top:auto;  "  data-fixed="1" data-fixedx="-1"  data-numberflag="1" data-number="9"  data-sublayout="1">
<div class="navInner">
    <div class="nav nav_1000" id="nav"  >
        <i class="NLeft"></i>
        <i class="NRight"></i>
        <div class="NMainBg"></div>
        <div class="NCenter">
          <dl class="NMain">
                        <dd  class="NItem NFirst"  data-subid="">
                <table class="NItemTable"><tr><td class="NItemL"></td><td class="NItemM">
                <a title="首页" href="/home" ><span>首页</span></a>
                </td><td class="NItemR"></td></tr></table>            </dd>
            <dd  class="NLine"></dd>
            
                                    <dd class="NItem "  data-subid="">
                <table class="NItemTable"><tr>
                    <td class="NItemL"></td>
                    <td class="NItemM"><a href="/about"  title="关于我们">
                        <span>关于我们</span>
                    </a></td>
                    <td class="NItemR"></td>
                </tr></table>
                
            </dd>
            <dd class="NLine"></dd>                        <dd class="NItem "  data-subid="">
                <table class="NItemTable"><tr>
                    <td class="NItemL"></td>
                    <td class="NItemM"><a href="/estore"  title="官方商城">
                        <span>官方商城</span>
                    </a></td>
                    <td class="NItemR"></td>
                </tr></table>
                
            </dd>
            <dd class="NLine"></dd>                        <dd class="NItem  NItemCur"  data-subid="">
                <table class="NItemTable"><tr>
                    <td class="NItemL"></td>
                    <td class="NItemM"><a href="/crowdfunding"  title="D.E.I.">
                        <span>D.E.I.</span>
                    </a></td>
                    <td class="NItemR"></td>
                </tr></table>
                
            </dd>


<!-- －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－ -->
                               <td class="NItemR"></td>
                                            </tr>
                                        </table>

                                    </dd>
                                    <dd class="NLine"></dd>
                                    <dd class="NItem " data-subid="">
                                        <table class="NItemTable">
                                            <tr>
                                                <td class="NItemL"></td>
                                                <td class="NItemM"><a href="/flight" title="在线桌游">
                        <span>在线桌游</span>
                    </a></td>
                                                <td class="NItemR"></td>
                                            </tr>
                                        </table>

                                    </dd>


<!-- －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－ -->


                                    
                    </dl>
      </div>
    </div>
</div>
</div>
            </div>
    
          <div class="bannerArea" id="banner_area" >
    <div class="bannerCon">
      <div class="ev-banner-module banner-smallpic-style-0" data-canvas-type="0" data-effect-type="0" data-auto-time="5" data-duration-time="1">
        <div class="ev-banner-inner">
          <div class="canvas-area canvas-style-0"></div>
          <div class="piclist-area">
            <ul class="piclist-box">
                                                    <li class="list-item">
                                                <div style="background-color:#ffffff;" class="video-item" data-url="https://aimg8.dlssyht.cn/u/1721546/tj/mp4/861/5da7cf94782088.95829429.mp4" data-open="1" data-muted="0">
                            <a  ></a>
                            <video autoplay="autoplay" src="https://aimg8.dlssyht.cn/u/1721546/tj/mp4/861/5da7cf94782088.95829429.mp4" loop="loop" ></video>
                        </div>
                                            </li>
                                            </ul>
          </div>

                  </div>
        
      
            </div>
    </div>
  </div>
    
        </div>

<div class="mainContainer q " id="main_container">

    <div class="addContainer q" id="add_container" data-attr="h:0">
                                <div class="customModuleRow customModuleRowAbsolute "  id="row_117"    data-animated="0" >
        
        
        <div class="customModuleRowInner">
            <div class="CModulePA" style="height:1731px;">
                    <div  id="evMo_FE1tZ" class="ev-module-edit"  style="width:1090px; height:120px; left:58px; top:33px; z-index:1;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_FE1tZ">
           <p class="ev-text-article-1">
    <span id="docs-internal-guid-081c5fe4-7fff-1751-6d4e-9baa567d1193"> </span> 
</p>
<p class="ev-text-article-1">
    <span style="font-size:14px;font-family:微软雅黑;line-height:1.7;color:#3D85C6;"><strong>欢迎来到新冰河世纪！我们曾经所熟知的世界已经消亡：一场突如其来的灾难性气候变化将地球化为了一个冰冻星球，摧毁了我们的文明。在旧世伦敦宫殿的废墟之中，有数个幸存者组织为了生存，进行着持续不断的战争，为了收集和“纯种”组织进行交易的货物。这些”纯种“人类正是这个新世界的主宰。他们具有最先进的技术和军事力量，驻扎在城堡要塞，通过和那些幸存者组织交换货物来控制他们，</strong></span><span style="color:#3D85C6;font-size:16px;"><strong>同时也放任他们相互争斗，使他们无法团结一心，撼动"纯种"的统治。</strong></span> 
</p>
<div>
    <span style="font-size:10.5pt;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><br>
</span> 
</div>
<p class="ev-text-article-1">
    <br>
</p>
        </div>
    </div>    <div  id="evMo_F2D9a" class="ev-module-edit"  style="width:1072px; height:74px; left:66px; top:134px; z-index:2;">
        <div class="ev-module-edit-box"  id="Mo_F2D9a">
            
                <div class="ev-base-shape ev-base-shape-2"></div>
                
            
        </div>
    </div>    <div  id="evMo_orkVE" class="ev-module-edit"  style="width:1020px; height:96px; left:95px; top:147px; z-index:3;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_orkVE">
           <h4 class="ev-text-title-4">
    <span style="color:#FFFFFF;font-family:微软雅黑;font-size:14px;line-height:1.7;">作为这4个幸存者势力之一的领袖，你必须带领你的人们穿过旧世伦敦的废墟，找寻与”纯种“进行交易的资源，试着去占领最好的避难所，控制黑市来提高你的团队装备。</span><span style="font-size:16px;color:#FFFFFF;">小心！想要获得最好的资源和庇护所，难免会遭遇到其他幸存者，陷入鏖战之中！而最终，”纯种“只会奖励那个他们最为满意的势力...</span> 
</h4>
        </div>
    </div>    <div  id="evMo_PMTk2" class="ev-module-edit"  style="width:1066px; height:703px; left:61px; top:216px; z-index:4;">
        <div class="ev-module-edit-box  load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.20s" id="Mo_PMTk2">
            
                <div class="ev-pic ev-pic-1 " >
                    <img   src=""     class="default-img lazy-loading"  data-original-src="https://aimg8.dlssyht.cn/u/1721546/module/simplepicbackground/1721546/8175/16348708_1571285547.png?x-oss-process=image/resize,m_fixed,w_1066,h_703,limit_0"  />
                    
                </div>
            
        </div>
    </div>    <div  id="evMo_U3z9t" class="ev-module-edit"  style="width:195px; height:47px; left:535px; top:935px; z-index:5;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_U3z9t">
           <h2 class="ev-text-title-2">
    <strong><span style="font-family:微软雅黑;color:#444444;">幸 存 者</span></strong> 
</h2>
        </div>
    </div>    <div  id="evMo_NTJfM" class="ev-module-edit"  style="width:434px; height:493px; left:83px; top:1082px; z-index:6;">
        <div class="ev-module-edit-box "  id="Mo_NTJfM">
            
                <div class="ev-pic ev-pic-1 " >
                    <img   src=""     class="default-img lazy-loading"  data-original-src="https://aimg8.dlssyht.cn/u/1721546/module/simplepicbackground/1721546/8175/16348845_1571286184.png?x-oss-process=image/resize,m_fixed,w_434,h_493,limit_0"  />
                    
                </div>
            
        </div>
    </div>    <div  id="evMo_rGsf5" class="ev-module-edit"  style="width:433px; height:113px; left:98px; top:1606px; z-index:7;">
        <div class="ev-module-edit-box"  id="Mo_rGsf5">
            
                <div class="ev-base-shape ev-base-shape-1"></div>
                
            
        </div>
    </div>    <div  id="evMo_COw2t" class="ev-module-edit"  style="width:1070px; height:53px; left:60px; top:994px; z-index:8;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_COw2t">
           <p class="ev-text-article-1">
    <span id="docs-internal-guid-a4404a2f-7fff-6efe-e966-9dbb26efe2b5" style="font-family:微软雅黑;font-size:14px;line-height:1.7;color:#3D85C6;"><span style="font-size:14px;font-family:微软雅黑;line-height:1.7;color:#3D85C6;"><strong>每位玩家将会控制这4个旧世伦敦势力中的一个，为生存而战。每个势力在游戏开始时，都有一名领袖，具有各自的模型和独有的特殊规则，并且有8张符合他们能力特征的初始行动牌，以及一架由”纯种“给予的无人机。</strong></span></span> 
</p>
        </div>
    </div>    <div  id="evMo_8JiY9" class="ev-module-edit"  style="width:434px; height:492px; left:661px; top:1093px; z-index:9;">
        <div class="ev-module-edit-box "  id="Mo_8JiY9">
            
                <div class="ev-pic ev-pic-1 " >
                    <img   src=""     class="default-img lazy-loading"  data-original-src="https://aimg8.dlssyht.cn/u/1721546/module/simplepicbackground/1721546/8175/16348911_1571286620.png?x-oss-process=image/resize,m_fixed,w_434,h_492,limit_0"  />
                    
                </div>
            
        </div>
    </div>    <div  id="evMo_dRQrx" class="ev-module-edit"  style="width:399px; height:93px; left:119px; top:1621px; z-index:10;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_dRQrx">
           <h4 class="ev-text-title-4">
    <span id="docs-internal-guid-ecbd4e9d-7fff-d39c-0990-5273c7e0aaef" style="color:#FFFFFF;font-family:微软雅黑;font-size:14px;line-height:1.7;"><span style="font-size:14px;font-family:微软雅黑;line-height:1.7;"><span style="color:#674ea7;"><strong><em><span style="color:#B4A7D6;">庇护 42</span>&nbsp;&nbsp;</em></strong></span>-&nbsp; 那些从”白色死神日“中逃离出来的伦敦市民，藏于地下庇护所之中的后代，这些幸存者懂得使用旧世的那些技术设备和知识。他们的领袖总是会给那些阻挠他们的人制造一些意外惊喜。</span></span> 
</h4>
        </div>
    </div>    <div  id="evMo_25EoX" class="ev-module-edit"  style="width:433px; height:113px; left:694px; top:1606px; z-index:11;">
        <div class="ev-module-edit-box"  id="Mo_25EoX">
            
                <div class="ev-base-shape ev-base-shape-1"></div>
                
            
        </div>
    </div>    <div  id="evMo_237Wy" class="ev-module-edit"  style="width:399px; height:93px; left:716px; top:1620px; z-index:12;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_237Wy">
           <h4 class="ev-text-title-4">
    <span id="docs-internal-guid-ecbd4e9d-7fff-d39c-0990-5273c7e0aaef" style="color:#FFFFFF;font-family:微软雅黑;font-size:14px;line-height:1.7;"><span style="font-size:14px;font-family:微软雅黑;line-height:1.7;"><span id="docs-internal-guid-61f7c4d6-7fff-fd45-29c6-2cac4fe8b45c"> 
    <p>
        <span style="font-size:14px;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><span style="color:#cc0000;"><strong><em><span style="color:#E06666;">农场 Z</span>&nbsp;</em></strong></span> –&nbsp; 被称为”农场”的基因试验实验室地堡收容了科学家，后勤人员和其他发现了这个庇护所的人们。为了领导在外进行的探险活动，科学家们总是会从他们的实验体中挑选一个...</span> 
    </p>
    <div>
        <span style="font-size:10.5pt;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><br>
</span> 
    </div>
</span></span></span> 
</h4>
        </div>
    </div>
            </div>
        </div>
    </div>
                            <div class="customModuleRow customModuleRowAbsolute "  id="row_126"    data-animated="0" >
        
        
        <div class="customModuleRowInner">
            <div class="CModulePA" style="height:1305px;">
                    <div  id="evMo_6A59mq" class="ev-module-edit"  style="width:452px; height:493px; left:84px; top:71px; z-index:1;">
        <div class="ev-module-edit-box "  id="Mo_6A59mq">
            
                <div class="ev-pic ev-pic-1 " >
                    <img   src=""     class="default-img lazy-loading"  data-original-src="https://aimg8.dlssyht.cn/u/1721546/module/simplepicbackground/1721546/8175/16348962_1571286921.png?x-oss-process=image/resize,m_fixed,w_452,h_493,limit_0"  />
                    
                </div>
            
        </div>
    </div>    <div  id="evMo_rMIHYo" class="ev-module-edit"  style="width:433px; height:113px; left:94px; top:598px; z-index:2;">
        <div class="ev-module-edit-box"  id="Mo_rMIHYo">
            
                <div class="ev-base-shape ev-base-shape-1"></div>
                
            
        </div>
    </div>    <div  id="evMo_23ALdO" class="ev-module-edit"  style="width:448px; height:493px; left:686px; top:70px; z-index:3;">
        <div class="ev-module-edit-box "  id="Mo_23ALdO">
            
                <div class="ev-pic ev-pic-1 " >
                    <img   src=""     class="default-img lazy-loading"  data-original-src="https://aimg8.dlssyht.cn/u/1721546/module/simplepicbackground/1721546/8175/16348964_1571286935.png?x-oss-process=image/resize,m_fixed,w_448,h_493,limit_0"  />
                    
                </div>
            
        </div>
    </div>    <div  id="evMo_k7sBTC" class="ev-module-edit"  style="width:399px; height:93px; left:114px; top:611px; z-index:4;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_k7sBTC">
           <h4 class="ev-text-title-4">
    <span id="docs-internal-guid-ecbd4e9d-7fff-d39c-0990-5273c7e0aaef" style="color:#FFFFFF;font-family:微软雅黑;font-size:14px;line-height:1.7;"><span style="font-size:14px;font-family:微软雅黑;line-height:1.7;"><span id="docs-internal-guid-98a1c9ed-7fff-21b8-7f6a-e48370024e89"> 
    <p>
        <span style="font-size:14px;font-family:微软雅黑;"><strong><em><span style="color:#000000;">后备兵</span></em></strong>&nbsp; -&nbsp; 和“纯种”有着密切关系的组织，在收集信息和执行任务时都会依赖于”纯种“的支持。他们的领袖狡猾无情，为了保持”纯种“的好感，他们可以做任何事。</span> 
    </p>
    <div>
        <span style="font-size:10.5pt;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><br>
</span> 
    </div>
</span></span></span> 
</h4>
        </div>
    </div>    <div  id="evMo_Yuyg5J" class="ev-module-edit"  style="width:433px; height:113px; left:687px; top:598px; z-index:5;">
        <div class="ev-module-edit-box"  id="Mo_Yuyg5J">
            
                <div class="ev-base-shape ev-base-shape-1"></div>
                
            
        </div>
    </div>    <div  id="evMo_AtPDXE" class="ev-module-edit"  style="width:399px; height:117px; left:710px; top:609px; z-index:6;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_AtPDXE">
           <h4 class="ev-text-title-4">
    <span id="docs-internal-guid-ecbd4e9d-7fff-d39c-0990-5273c7e0aaef" style="color:#FFFFFF;font-family:微软雅黑;font-size:14px;line-height:1.7;"><span style="font-size:14px;font-family:微软雅黑;line-height:1.7;"><span id="docs-internal-guid-61f7c4d6-7fff-fd45-29c6-2cac4fe8b45c"> 
    <p>
        <span style="font-size:14px;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><span id="docs-internal-guid-efd3bf85-7fff-7bf0-6252-14f5b5b558be">
        </span></span></p><p>
            <span style="font-size:14px;font-family:微软雅黑;"><strong><em><span style="color:#fb703c;">掠夺者</span></em></strong>&nbsp; -&nbsp; 这个组织，欢迎任何绝境中需要帮助的人们，和反叛军有所接触，虽然因为害怕激怒”纯种“，并没有人可以证实这一点。他们的许多领袖实际上都是身负秘密任务的反叛军特工。</span>
        </p>
        <div>
            <span style="font-size:10.5pt;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><br>
</span>
        </div>
</span></span>
    <p></p>
    <div>
        <span style="font-size:10.5pt;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><br>
</span> 
    </div>
</span> 
</h4>
        </div>
    </div>    <div  id="evMo_iaM3W" class="ev-module-edit"  style="width:1200px; height:550px; left:0px; top:759px; z-index:7;">
        <div class="ev-module-edit-box "  id="Mo_iaM3W">
            
                <div class="ev-pic ev-pic-1 " >
                    <img   src=""     class="default-img lazy-loading"  data-original-src="https://aimg8.dlssyht.cn/u/1721546/module/simplepicbackground/1721546/8175/16349002_1571287129.jpg?x-oss-process=image/resize,m_fixed,w_1200,h_550,limit_0"  />
                    
                </div>
            
        </div>
    </div>
            </div>
        </div>
    </div>
                            <div class="customModuleRow customModuleRowAbsolute "  id="row_134"    data-animated="0" >
        
        
        <div class="customModuleRowInner">
            <div class="CModulePA" style="height:2172px;">
                    <div  id="evMo_ZT2C2z" class="ev-module-edit"  style="width:452px; height:493px; left:82px; top:199px; z-index:1;">
        <div class="ev-module-edit-box  load-animate" data-animate-name="zoomIn" data-animate-duration="1.00s" data-animate-delay="0.00s" id="Mo_ZT2C2z">
            
                <div class="ev-pic ev-pic-1 " >
                    <img   src=""     class="default-img lazy-loading"  data-original-src="https://aimg8.dlssyht.cn/u/1721546/module/simplepicbackground/1721546/8175/16349039_1571287459.png?x-oss-process=image/resize,m_fixed,w_452,h_493,limit_0"  />
                    
                </div>
            
        </div>
    </div>    <div  id="evMo_yEFcYp" class="ev-module-edit"  style="width:432px; height:70px; left:101px; top:717px; z-index:2;">
        <div class="ev-module-edit-box"  id="Mo_yEFcYp">
            
                <div class="ev-base-shape ev-base-shape-1"></div>
                
            
        </div>
    </div>    <div  id="evMo_uWScJo" class="ev-module-edit"  style="width:448px; height:493px; left:685px; top:199px; z-index:3;">
        <div class="ev-module-edit-box  load-animate" data-animate-name="zoomIn" data-animate-duration="1.00s" data-animate-delay="0.00s" id="Mo_uWScJo">
            
                <div class="ev-pic ev-pic-1 " >
                    <img   src=""     class="default-img lazy-loading"  data-original-src="https://aimg8.dlssyht.cn/u/1721546/module/simplepicbackground/1721546/8175/16349042_1571287479.png?x-oss-process=image/resize,m_fixed,w_448,h_493,limit_0"  />
                    
                </div>
            
        </div>
    </div>    <div  id="evMo_jChgXG" class="ev-module-edit"  style="width:399px; height:137px; left:123px; top:733px; z-index:4;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_jChgXG">
           <h4 class="ev-text-title-4">
    <span id="docs-internal-guid-ecbd4e9d-7fff-d39c-0990-5273c7e0aaef" style="color:#FFFFFF;font-family:微软雅黑;font-size:14px;line-height:1.7;"><span style="font-size:14px;font-family:微软雅黑;line-height:1.7;"><span id="docs-internal-guid-98a1c9ed-7fff-21b8-7f6a-e48370024e89"> 
    <p>
        <span style="font-size:14px;font-family:微软雅黑;"><span id="docs-internal-guid-aaf4076d-7fff-81ca-e759-7cb5f829b04f"> </span></span> 
    </p>
    <p>
        <span style="font-size:14px;font-family:微软雅黑;">这个飞行作战无人机完美适用于对一个区域进行清场，消灭敌方部队，继续征服之路。</span> 
    </p>
    <div>
    </div>
</span></span> 
    <p>
        <br>
    </p>
    <div>
        <span style="font-size:10.5pt;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><br>
</span> 
    </div>
</span> 
    <p>
        <br>
    </p>
    <div>
        <span style="font-size:10.5pt;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><br>
</span> 
    </div>
</h4>
        </div>
    </div>    <div  id="evMo_bbFwWF" class="ev-module-edit"  style="width:433px; height:70px; left:685px; top:712px; z-index:5;">
        <div class="ev-module-edit-box"  id="Mo_bbFwWF">
            
                <div class="ev-base-shape ev-base-shape-1"></div>
                
            
        </div>
    </div>    <div  id="evMo_E2mK4e" class="ev-module-edit"  style="width:399px; height:113px; left:710px; top:730px; z-index:6;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_E2mK4e">
           <h4 class="ev-text-title-4">
    <span id="docs-internal-guid-ecbd4e9d-7fff-d39c-0990-5273c7e0aaef" style="color:#FFFFFF;font-family:微软雅黑;font-size:14px;line-height:1.7;"><span style="font-size:14px;font-family:微软雅黑;line-height:1.7;"><span id="docs-internal-guid-61f7c4d6-7fff-fd45-29c6-2cac4fe8b45c"> 
    <p>
        <span style="font-size:14px;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><span id="docs-internal-guid-efd3bf85-7fff-7bf0-6252-14f5b5b558be"></span></span> 
    </p>
    <p>
        <span id="docs-internal-guid-893256d9-7fff-dd45-62fd-56be8d7fb661"><span style="font-size:10.5pt;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"> </span></span> 
    </p>
    <h4 class="ev-text-title-4">
        <span id="docs-internal-guid-ecbd4e9d-7fff-d39c-0990-5273c7e0aaef" style="color:#FFFFFF;font-family:微软雅黑;font-size:14px;line-height:1.7;"><span style="line-height:1.7;"><span id="docs-internal-guid-98a1c9ed-7fff-21b8-7f6a-e48370024e89"> 
        <p>
            <span style="font-size:14px;font-family:微软雅黑;">通过</span><span style="font-size:14px;font-family:微软雅黑;">这架挖掘无人机，你可以收集到更多的资源，并且比常规部队做得更快。</span> 
        </p>
</span></span></span> 
    </h4>
</span></span> 
    <p>
        <br>
    </p>
    <div>
    </div>
</span> 
    <p>
        <br>
    </p>
    <div>
        <span style="font-size:10.5pt;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><br>
</span> 
    </div>
</h4>
        </div>
    </div>    <div  id="evMo_mdXRS" class="ev-module-edit"  style="width:195px; height:59px; left:527px; top:18px; z-index:7;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_mdXRS">
           <h1 class="ev-text-title-1">
    <span style="font-family:微软雅黑;"><strong>无 人 机</strong></span>
</h1>
        </div>
    </div>    <div  id="evMo_VljOp" class="ev-module-edit"  style="width:1062px; height:88px; left:64px; top:94px; z-index:8;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_VljOp">
           <h4 class="ev-text-title-4">
    <span id="docs-internal-guid-c4da5003-7fff-0409-7af5-53898ab58aaf"> 
    <p>
        <span style="font-size:14px;font-family:微软雅黑;line-height:1.7;color:#3D85C6;"><strong>”纯种“组织提供4架最先进的无人机给幸存者势力，在帮助各个势力进行调查的同时，也会让他们互相争斗，因为获取这些无人机的控制会在游戏中提供给各个势力很大的优势。这些机器会在多方面给予幸存者帮助；每一架都是基于特殊用途而制造的，在游戏开始时每个势力都会控制一架无人机，但是通过从哨岗市场中购买的卡牌，每个势力都有机会去控制任何一架无人机，来适用于各自的战术。</strong></span> 
    </p>
    <div>
        <span style="font-size:10.5pt;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><br>
</span> 
    </div>
</span> 
</h4>
        </div>
    </div>    <div  id="evMo_JF1dx" class="ev-module-edit"  style="width:452px; height:493px; left:91px; top:883px; z-index:9;">
        <div class="ev-module-edit-box  load-animate" data-animate-name="zoomIn" data-animate-duration="1.00s" data-animate-delay="0.00s" id="Mo_JF1dx">
            
                <div class="ev-pic ev-pic-1 " >
                    <img   src=""     class="default-img lazy-loading"  data-original-src="https://aimg8.dlssyht.cn/u/1721546/module/simplepicbackground/1721546/8175/16349088_1571287803.png?x-oss-process=image/resize,m_fixed,w_452,h_493,limit_0"  />
                    
                </div>
            
        </div>
    </div>    <div  id="evMo_oxBmQ" class="ev-module-edit"  style="width:448px; height:493px; left:684px; top:883px; z-index:10;">
        <div class="ev-module-edit-box  load-animate" data-animate-name="zoomIn" data-animate-duration="1.00s" data-animate-delay="0.00s" id="Mo_oxBmQ">
            
                <div class="ev-pic ev-pic-1 " >
                    <img   src=""     class="default-img lazy-loading"  data-original-src="https://aimg8.dlssyht.cn/u/1721546/module/simplepicbackground/1721546/8175/16349090_1571287818.png?x-oss-process=image/resize,m_fixed,w_448,h_493,limit_0"  />
                    
                </div>
            
        </div>
    </div>    <div  id="evMo_ODeAQ" class="ev-module-edit"  style="width:432px; height:70px; left:101px; top:1434px; z-index:11;">
        <div class="ev-module-edit-box"  id="Mo_ODeAQ">
            
                <div class="ev-base-shape ev-base-shape-1"></div>
                
            
        </div>
    </div>    <div  id="evMo_n7Xq6" class="ev-module-edit"  style="width:433px; height:70px; left:691px; top:1434px; z-index:12;">
        <div class="ev-module-edit-box"  id="Mo_n7Xq6">
            
                <div class="ev-base-shape ev-base-shape-1"></div>
                
            
        </div>
    </div>    <div  id="evMo_9VHSx" class="ev-module-edit"  style="width:399px; height:157px; left:123px; top:1448px; z-index:13;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_9VHSx">
           <h4 class="ev-text-title-4">
    <span id="docs-internal-guid-ecbd4e9d-7fff-d39c-0990-5273c7e0aaef" style="color:#FFFFFF;font-family:微软雅黑;font-size:14px;line-height:1.7;"><span style="font-size:14px;font-family:微软雅黑;line-height:1.7;"><span id="docs-internal-guid-98a1c9ed-7fff-21b8-7f6a-e48370024e89"> 
    <p>
        <span style="font-size:14px;font-family:微软雅黑;"><span id="docs-internal-guid-aaf4076d-7fff-81ca-e759-7cb5f829b04f"> </span></span> 
    </p>
    <p>
        <span style="font-size:14px;font-family:微软雅黑;"><span id="docs-internal-guid-06fb4657-7fff-8cbb-444d-321dd1732054"><span style="font-size:10.5pt;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><span id="docs-internal-guid-6e75d0be-7fff-7079-30ca-a5ce82446af2">
        </span></span></span></span></p><p>
            <span style="font-size:10.5pt;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;">这款特异无人机是”纯种“科技的最新成果，可以将你的部队从一个区域快速安全地传送到另一个区域。</span>
        </p>
        <div>
            <span style="font-size:10.5pt;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><br>
</span>
        </div>
</span></span></span>
    <p></p>

    <p>
        <br>
    </p>
    <div>
        <span style="font-size:10.5pt;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><br>
</span> 
    </div>
 
    <p>
        <br>
    </p>
    <div>
        <span style="font-size:10.5pt;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><br>
</span> 
    </div>
</h4>
        </div>
    </div>    <div  id="evMo_4kr9o" class="ev-module-edit"  style="width:399px; height:70px; left:713px; top:1443px; z-index:14;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_4kr9o">
           <h4 class="ev-text-title-4">
    <span id="docs-internal-guid-ecbd4e9d-7fff-d39c-0990-5273c7e0aaef" style="color:#FFFFFF;font-family:微软雅黑;font-size:14px;line-height:1.7;"><span style="font-size:14px;font-family:微软雅黑;line-height:1.7;"><span id="docs-internal-guid-98a1c9ed-7fff-21b8-7f6a-e48370024e89"> 
    <p>
        <span style="font-size:14px;font-family:微软雅黑;"><span id="docs-internal-guid-aaf4076d-7fff-81ca-e759-7cb5f829b04f"> </span></span> 
    </p>
    <p>
        <span style="font-size:14px;font-family:微软雅黑;"><span id="docs-internal-guid-87df0b37-7fff-5934-f7e3-cfcadb62584d"></span></span> 
    </p>
    <p>
        <span style="font-size:10.5pt;font-family:&quot;color:#666666;background-color:#FFFFFF;vertical-align:baseline;"><em>运输无人机”西蒙“&nbsp;</em>具备超高机动性，可以让你部署部队到地图上最难抵达的区域。</span> 
    </p>
    <div>
        <br>
    </div>
</span></span></span> 
    <div>
    </div>
</h4>
        </div>
    </div>    <div  id="evMo_9XTsL" class="ev-module-edit"  style="width:532px; height:574px; left:336px; top:1580px; z-index:15;">
        <div class="ev-module-edit-box "  id="Mo_9XTsL">
            
                <div class="ev-pic ev-pic-1 " >
                    <img   src=""     class="default-img lazy-loading"  data-original-src="https://aimg8.dlssyht.cn/u/1721546/module/simplepicbackground/1721546/8224/16447624_1571714506.png?x-oss-process=image/resize,m_fixed,w_532,h_574,limit_0"  />
                    
                </div>
            
        </div>
    </div>
            </div>
        </div>
    </div>
                            <div class="customModuleRow customModuleRowAbsolute "  id="row_142"    data-animated="0" >
        
        
        <div class="customModuleRowInner">
            <div class="CModulePA" style="height:3093px;">
                    <div  id="evMo_GwCY4i" class="ev-module-edit"  style="width:334px; height:118px; left:433px; top:20px; z-index:0;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_GwCY4i">
           <h1 class="ev-text-title-1">
    <span><b>哨岗市场和黑市</b></span> 
</h1>
        </div>
    </div>    <div  id="evMo_K5IZ8" class="ev-module-edit"  style="width:1039px; height:150px; left:80px; top:109px; z-index:2;">
        <div class="ev-module-edit-box"  id="Mo_K5IZ8">
            
                <div class="ev-base-shape ev-base-shape-2"></div>
                
            
        </div>
    </div>    <div  id="evMo_4BVRt" class="ev-module-edit"  style="width:956px; height:117px; left:128px; top:139px; z-index:3;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_4BVRt">
           <h4 class="ev-text-title-4">
    <span style="color:#ffffff;"></span> 
    <p>
        <span style="color:#FFFFFF;font-size:14px;line-height:1.7;">在游戏中，每位玩家可以通过从这4个旧世伦敦的市场中购买行动牌，来提升自己的行动。其中3个市场分别对应一种哨岗颜色和主题（战术、后勤和机械）。比如，在战术市场（红色）中，你可以购买到更具侵略性的牌，甚至可以让你消灭敌方部队。如何在这些市场中购买卡牌呢？除了支付所需的资源，你还必须赢取一个或多个和市场颜色相同的前哨站，从而取得必要的影响力来获得这些最好的物品。第四个市场是通用黑市，会提供各种类型的卡牌。</span> 
    </p>
    <p>
        <span style="color:#FFFFFF;font-size:14px;line-height:1.7;">有了这些可以在市场中被购买的卡牌，你还可以获取任何一架”纯种“无人机的控制权。</span> 
    </p>
</h4>
<p class="ev-text-article-1">
    <br>
</p>
        </div>
    </div>    <div  id="evMo_owSKs" class="ev-module-edit"  style="width:844px; height:523px; left:148px; top:298px; z-index:4;">
        <div class="ev-module-edit-box  load-animate" data-animate-name="flipInLeftY" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_owSKs">
            
                <div class="ev-pic ev-pic-2 " >
                    <img   src=""     class="default-img lazy-loading"  data-original-src="https://aimg8.dlssyht.cn/u/1721546/module/simplepicbackground/1721546/8224/16447207_1571713859.png?x-oss-process=image/resize,m_fixed,w_844,h_523,limit_0"  />
                    
                </div>
            
        </div>
    </div>    <div  id="evMo_YXH2l" class="ev-module-edit"  style="width:1039px; height:150px; left:83px; top:847px; z-index:5;">
        <div class="ev-module-edit-box"  id="Mo_YXH2l">
            
                <div class="ev-base-shape ev-base-shape-2"></div>
                
            
        </div>
    </div>    <div  id="evMo_jTqWf" class="ev-module-edit"  style="width:981px; height:167px; left:119px; top:877px; z-index:6;">
        <div class="ev-module-text ev-module-edit-box"  id="Mo_jTqWf">
           <p class="ev-text-article-1">
    <span id="docs-internal-guid-ed0b325e-7fff-fe31-2b3e-5b5c1da76c3c"> </span> 
</p>
<p class="ev-text-article-1">
    <span style="color:#FFFFFF;font-size:16px;line-height:1.6;">行动牌是D.E.I.游戏系统中的核心部分。在每回合中，玩家可以打出两张行动牌来决定各自的行动。或者他们可以移除其中一张牌以去黑市中购买一张新的高级行动牌。行动牌可以用来移动部队，收集资源，激活无人机，部署新部队或者建造设施，比如起重机、桥梁和庇护所。</span> 
</p>
<p class="ev-text-article-1">
    <span style="color:#FFFFFF;font-size:16px;line-height:1.6;">此外，每张从黑市中购买的卡牌，除了提供强化的行动外，还可以提供一定的胜利分数，来帮助你赢得游戏。</span> 
</p>
<div>
    <br>
</div>
<p class="ev-text-article-1">
    <br>
</p>
        </div>
    </div>    <div  id="evMo_jLm2j" class="ev-module-edit"  style="width:1037px; height:723px; left:80px; top:1111px; z-index:7;">
        <div class="ev-module-edit-box "  id="Mo_jLm2j">
            
                <div class="ev-pic ev-pic-2 " >
                    <img   src=""     class="default-img lazy-loading"  data-original-src="https://aimg8.dlssyht.cn/u/1721546/module/simplepicbackground/1721546/8224/16447423_1571714177.png?x-oss-process=image/resize,m_fixed,w_1037,h_723,limit_0"  />
                    
                </div>
            
        </div>
    </div>    <div  id="evMo_AcSIp" class="ev-module-edit"  style="width:902px; height:1156px; left:154px; top:1889px; z-index:8;">
        <div class="ev-module-edit-box "  id="Mo_AcSIp">
            
                <div class="ev-pic ev-pic-1 " >
                    <img   src=""     class="default-img lazy-loading"  data-original-src="https://aimg8.dlssyht.cn/u/1721546/module/simplepicbackground/1721546/8224/16447670_1571714552.png?x-oss-process=image/resize,m_fixed,w_902,h_1156,limit_0"  />
                    
                </div>
            
        </div>
    </div>
            </div>
        </div>
    </div>
            
    
    </div>
</div>

                            <div class="footer" id="footer"   >
            <div class="footerConArea">
                <div class="footerCon">
                    <!--FOOTER NAV START-->
                                            <div class="footerNav" id="footer_nav">
                                                                                                <a  href="/about">关于我们</a><em>|</em><a  href="/estore">官方商城</a>                                                                                    </div>
                                        <!--FOOTER NAV END-->
                    <!--COPYRIGHT START-->
                    <div class="copyright" id="copyright">
                        <p>Copyright @ 2018. All rights reserved. enjoy game 版权所有. 浙ICP备18035579号</p>
                                                    <center id="c2"></center>
                                            </div>
                    <!--COPYRIGHT START-->
                </div>
            </div>
            <div class="footerBg"></div>
        </div>
    
    <script type="text/javascript">
    $("body").attr('id','webBody');
    wsf.fullRow.countMoPosition();
</script>
        <!--online_type==6(2016在线客服)START-->
    <script language="JavaScript" src="/js/new_online_2016.js"></script>
    <link href="/css/new_online2016/sidebar_style.css" rel="stylesheet" type="text/css" />
    <link href="/css/new_online2016/sidebar_color4/sidebar_color.css" rel="stylesheet" type="text/css" />
    <div id="onService_panel" class="qq_onService_panel">
        <div class="sidebar2_Mo">
            <div class="sidebar2_list">
                <div class="sidebar2_listT ie_w">
                    <div class="list_c"></div>
                </div>
                <div class="sidebar2_listC">
                    <a id="prev_btn" class="prev_btn" href="###">
                        <img src="/images/new_online2016/prev_icon.png">
                    </a>
                    <ul class="function_list">
                    <!---电话-->
                                                <li class="list">
                            <a class="tel_icon" href="###"></a>
                            <div class="lxwm_tel alt_c" style="right: -178px; opacity: 0;">
                                <div class="sidebar2_listT">
                                    <div class="list_c"></div>
                                </div>
                                <div class="lxwm_c alt_bg">
                                    <h2 class="lxwm_tit">&#30005;&#35805;&#30452;&#21628;</h2>
                                    <ul class="lxwm_list clearfix">
                                                                                    <li>13484277245</li>                                            <li>0574-56806015</li>                                                                          </ul>
                                </div>
                                <div class="sidebar2_listB">
                                    <div class="list_c"></div>
                                </div>
                            </div>
                        </li>
                                                <!---QQ-->
                                                <!---二维码-->
                                                                        <li class="list">
                            <a class="edit_icon" href="###"></a>
                            <div class="explain_text alt_c" style="right: -106px; opacity: 0;">
                                <div class="sidebar2_listT">
                                    <div class="list_c"></div>
                                </div>
                                <div class="explain_c alt_bg">
                                    <a href="/self_define/guest_book.php?username=ningbo123">
                                    <em>&#22312;&#32447;&#30041;&#35328;</em></a>
                                </div>
                                <div class="sidebar2_listB">
                                    <div class="list_c"></div>
                                </div>
                            </div>
                        </li>
                                                <!-- 发送邮件 -->
                                                    <li class="list">
                                <a class="mail_icon" href="###"></a>
                                <div class="explain_text alt_c" style="right: -106px; opacity: 0;">
                                    <div class="sidebar2_listT">
                                        <div class="list_c"></div>
                                    </div>
                                    <div class="explain_c alt_bg">
                                        <a href="mailto:jadewang@enjoygamepublish.com"><em>&#21457;&#36865;&#37038;&#20214;</em></a>
                                    </div>
                                    <div class="sidebar2_listB">
                                        <div class="list_c"></div>
                                    </div>
                                </div>
                            </li>
                                                                            <li class="list">
                                <a class="map_icon" href="###"></a>
                                <div class="explain_text alt_c" style="right: -106px; opacity: 0;">
                                    <div class="sidebar2_listT">
                                        <div class="list_c"></div>
                                    </div>
                                    <div class="explain_c alt_bg">
                                                                                    <a href="/self_define/map.php?username=ningbo123"><em>&#20225;&#19994;&#20301;&#32622;</em></a>
                                                                            </div>
                                    <div class="sidebar2_listB">
                                        <div class="list_c"></div>
                                    </div>
                                </div>
                            </li>
                                            </ul>
                    <a id="next_btn" class="next_btn" href="###">
                        <img src="/images/new_online2016/next_icon.png">
                    </a>
                </div>
                <div class="sidebar2_listB ie_w">
                    <div class="list_c"></div>
                </div>
            </div>
            <div class="sidebar2_state">
                <a id="state_btn" href="###" class=""></a>
            </div>
        </div>
    </div>
    <!--END-->
            <div style="width:100%;line-height:30px;text-align:center; color:#666" class="ev_zhichi">
                                    </div>
    

    
    <a class="backTop_Z" id="backTop" onclick="backTop();" href="javascript:void(0);"></a>
<!-- END -->
<script type="text/javascript">
window.onscroll=function(){
    var winTop_1=document.documentElement.scrollTop;
    var winTop_2=document.body.scrollTop;
    var winTop;
    (winTop_1>winTop_2)?winTop=winTop_1:winTop=winTop_2;
    if(winTop>0){
        $("#backTop").css({'display':'block'});
    }
    if(winTop == 0){
        $("#backTop").css({'display':'none'});
    }
}


</script>

<script type="text/javascript">
    var ev_log_userid = '1721546';
    var is_edit='';
    var channel_id='21761001';
    var hide_qu_ids=[];
    var hide_qu_ids_seted=[];
    var hide_big_qu_ids=[];
    var is_move=0;
</script>
<script src="/plugins/public/js/md5.js"></script>
<script src="/js/site_stats.js" id="SiteStats" data-val="0"></script>


    <script type="text/javascript" src="/include/shop_car.js"></script>
        
                                                            <script type="text/javascript" src="/js/VNew/pc/self_edit_public.js"></script>
                                <script type="text/javascript" src="/include/self_edit_set.js"></script>
                                                        <script language="javascript">

    $(function() {
                $("a[href$='#_blank']").attr('target','_blank');
                //$("a[href^='http://']").attr('target','_blank');
        $("a[href$='#_blank']").each(function(){
            var tmp_url=$(this).attr('href').slice(0,-7);
            $(this).attr('href',tmp_url);
        });
        $(".Container_edit").attr('target','_top');

        $(".editor_content_air").find('img').each(function(){
            var that = $(this),
                    thatp = that.parents(".editor_content_air").parent();
            if(that.width() > thatp.width()){
                that.wrap('<div style="width:100%; overflow-y:auto;"></div>');
            }
        });

    });
</script>


  <!--启动百度自动推送功能-->
  <script>
      (function(){
          var bp = document.createElement('script');
          var curProtocol = window.location.protocol.split(':')[0];
          if (curProtocol === 'https') {
              bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
          }
          else {
              bp.src = 'http://push.zhanzhang.baidu.com/push.js';
          }
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(bp, s);
      })();
  </script>


    
    
    <script type="text/javascript">
        $(function() {
            $("body").on("click", ".fieldTypeUploadFile", function() {
                var id = $(this).data("id");
                if (!id) {
                    return false;
                }

                $.popup({
                            type: 5,
                            head: {"text": $(this).data("name")},
                            area: {w: 600, h: 400},
                            con : {
                                src: "/dom/FormFile.php?username=ningbo123&field_id="+ id
                            }
                        });
            });
        });

        function updateFormFieldUploadfile(fieldId, filePath) {
            jQuery("#field_"+ fieldId).validationEngine('hide')
            $("#field_"+ fieldId).css("background-image", "none");
            $("#field_"+ fieldId).val(filePath);
        }
    </script>

    
    
    <img id="pcCountImg" src="" style="width: 0;height: 0; display: block;">
    <img id="countTimeImg" src="" style="width: 0;height: 0; display: block;">
    <script type="text/javascript">
        $(function(){
            $('#pcCountImg').attr('src',"/images/stat.png?username=ningbo123&client=pc&url="+encodeURI(window.location.href)+"&t=1582699825&new=0&userid=1721546&uv_id=bc5c2d57d480afeb8e427a0ad87f561c&session_id=k9ugc9p3phfupc0lfp0hqdrqmf&title="+encodeURI($("title").text()));
            //访问时长统计
            setInterval(function(){
                $('#countTimeImg').attr('src', "/images/count_time.png?t="+Math.random()+"&new=0");
            },60000);
        });
    </script>

</div>



</body>

<script type="text/javascript">
    $(function(){
        if($('#select2').length){
            var mobile_class = $('#mobile').attr('class');
            $('#select2').change(function(){
                var val =$(this).val();
                if(val != '+86'){
                    $('#mobile').attr('class','text-input validate[required]');
                }else{
                    $('#mobile').attr('class',mobile_class);
                }
            })
        }
        var vs = $(".video-js").attr("style");
        setTimeout(function(){
            $(".video-js").attr("style",$(".video-js").attr("style")+vs);
        },1000)
    })
</script>
</html>
