<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="applicable-device" content="pc" />
    <title>易趣桌游</title>
    <meta name="keywords" content="桌游的世界等你来探寻" />
    <meta name="description" content="" />
    <meta name="author" content="易趣桌游" />


    <script type="text/javascript" src="/plugins/public/js/cookies.js"></script>
    <script src="/plugins/public/js/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="/Language/Zh-cn/Language.js"></script>
</head>

<body data-chid="1" data-operate="0" data-bigclassid="0" data-type="0" data-hyid="0" id="webBody" data-copyid="0" data-copyuserid="1656928">
    <div class="wrapper wrapper-1200" id="wrapper">
        <script type="text/javascript" src="/Language/Zh-cn/Language.js"></script>
        <script type="text/javascript">
            var ev123_no_edit = '';
            var user_name = 'ningbo123';
            var isTj = '1';
            var user_level = 3;
            var agent_id = 15483;
            var channel_type = 0;
            var channel_id = 0;
            var userSiteWidth = 1200;
            var is_action = false;
            var isParentWindow = false;
            var rowIds = "110,112,53,90,56,57,58,59,91";
            var MJsData = {};
            var CURRENCY_SIGN = '￥';
            var tncode_div = null;
            var ALIYUN_OSS_DOMAIN = "/";


            var GData = {
                SMAlbumIds: "",
                SMAlbumSysIds: "",
                docSysIds: "",
                tabAlertStrMs: "",
                allChId: "1",
                wapDomain: 'm.enjoygamepublish.com',
                end: null
            };
        </script>
        <link rel="stylesheet" href="/js/ev_popup/skin/skin.min.css" />
        <script type="text/javascript" src="/js/ev_popup/ev_popup.min.js"></script>
        <script type="text/javascript">
            function createLogin(trespass, userid) {
                $.popup({
                    type: 5,
                    cName: "evPopupOpacity",
                    head: {
                        yes: 0
                    },
                    shade: {
                        yes: 1,
                        bgColor: '#000',
                        opacity: 0.6,
                        animate: {
                            type: 1,
                            target: 0.6
                        },
                        close: false
                    },
                    area: {
                        w: 790,
                        h: 500
                    },
                    con: {
                        src: '/dom/alert_login.php?username=ningbo123&trespass=' + trespass + '&userid=' + userid
                    }
                });
            }
        </script>

        <script type="text/javascript" src="/js/VNew/public.js"></script>
        <script type="text/javascript" src="/plugins/public/js/lightGallery/js/lightgallery-all.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/plugins/public/js/lightGallery/css/lightgallery.min.css" />
        <script type="text/javascript" src="/js/VNew/tj/jquery.scrollify.min.js"></script>
        <script type="text/javascript" src="/js/VNew/tj/public_fun.js"></script>
        <link type="text/css" rel="stylesheet" href="/css/VNew/base.min.css" />
        <link type="text/css" rel="stylesheet" href="/css/VNew/animate.min.css" />
        <link type="text/css" rel="stylesheet" href="/css/VNew/icon_text/iconfont.min.css" />
        <link type="text/css" rel="stylesheet" href="/css/VNew/web_frame.min.css" />
        <link type="text/css" rel="stylesheet" href="/css/VNew/inner_frame.min.css" />
        <link type="text/css" rel="stylesheet" href="/templates/others27/css/skincolor.css" />
        <link type="text/css" rel="stylesheet" href="/templates/others27/css/webskin.css" id="webSkinCss" />
        <link type="text/css" rel="stylesheet" href="/css/VNew/web_style/base_module_style.min.css" />
        <link type="text/css" rel="stylesheet" href="/self_define/TJStyle.php?user_id=1721546&all_ch_id=1&token_id=6&random=1582697168" />
        <script type="text/javascript" src="/plugins/public/js/base64.min.js"></script>
        <script type="text/javascript" src="/plugins/public/js/json2.js"></script>
        <script id="languages_jquery_validationEngine_js" type="text/javascript" charset="gb2312" src="/js/posabsolute-jQuery-Validation-Engine-2c29415/js/languages/jquery.validationEngine-zh_CN.js"></script>


        <div class="customModuleRow headPublicModuleRow customModuleRowAbsolute " id="row_58" data-animated="0">


            <div class="customModuleRowInner">
                <div class="CModulePA" style="height:0px;">
                    <div data-fixed="0" data-fixedx="-1" id="evMo_aIzEsl" class="ev-module-edit" style="width:291px; height:44px; left:454px; top:18px; z-index:1;">
                        <div class="ev-module-edit-box " id="Mo_aIzEsl">
                            <a href="###">
                                <div class="ev-pic ev-pic-1 ">
                                    <img src="" class="default-img lazy-loading" data-original-src="https://aimg8.dlssyht.cn/module/simplepicbackground/1721546/6579/13157181_1559204658.png?x-oss-process=image/resize,m_fixed,w_291,h_44,limit_0" />

                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-fixed="0" data-fixedx="-1" id="evMo_PwWZL" class="ev-module-edit" style="width:70px; height:32px; left:1030px; top:99px; z-index:2;">
                        <div class="ev-module-edit-box" id="Mo_PwWZL">
                            <a href="/dom/denglu.php?username=ningbo123" target="_blank">
                                <div class="ev-base-button ev-base-button-1-1">
                                    <b class="btn-text">登录</b>
                                    <em class="btn-m"></em>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-fixed="0" data-fixedx="-1" id="evMo_4vJHUX" class="ev-module-edit" style="width:70px; height:32px; left:1130px; top:99px; z-index:3;">
                        <div class="ev-module-edit-box" id="Mo_4vJHUX">
                            <a href="/dom/zhuce.php?username=ningbo123" target="_blank">
                                <div class="ev-base-button ev-base-button-1-1">
                                    <b class="btn-text">注册</b>
                                    <em class="btn-m"></em>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <link type="text/css" rel="stylesheet" id="sliding_verification_style_css" href="/plugins/public/js/slidingVerification/sliding_verification_style.css" />
        <script type="text/javascript" id="sliding_tn_code_js" src="/plugins/public/js/slidingVerification/sliding_tn_code.js"></script>
        <script type="text/javascript">
            function userUserLoginInfo() {
                return true;
            }
        </script>
        <div class="fullSubNavBox" id="fullSubNavBox">

        </div>
        <div class="headFullXY" id="headFullXY">
            <div style="padding-top:1px; margin-bottom: -1px;"></div>


            <div class="absoluteModuleWrap" id="absolute_module_wrap" data-attr="l:80,h:0,c:0">
                <div class="absoluteModuleInner" id="absolute_module_inner">



                </div>
            </div>
            <div class="header" id="header" data-fixed="0" data-fixedx="-1">
                <div class="headerInner">
                    <div class="headerBg"></div>
                    <div class="headerConArea">
                        <div class="headerCon" style="height:80px;"></div>
                    </div>
                </div>
            </div>

            <div class="nav-wrap" id="navWrap">
                <div class="webNav" id="web_nav" data-l="p:2,l:0,t:0,w:1200,wt:0" style="  left:auto; top:auto;  " data-fixed="1" data-fixedx="-1" data-numberflag="1" data-number="9" data-sublayout="1">
                    <div class="navInner">
                        <div class="nav nav_1000" id="nav">
                            <i class="NLeft"></i>
                            <i class="NRight"></i>
                            <div class="NMainBg"></div>
                            <div class="NCenter">
                                <dl class="NMain">
                                    <dd class="NItem NFirst NItemCur" data-subid="">
                                        <table class="NItemTable">
                                            <tr>
                                                <td class="NItemL"></td>
                                                <td class="NItemM">
                                                    <a title="首页" href="/home"><span>首页</span></a>
                                                </td>
                                                <td class="NItemR"></td>
                                            </tr>
                                        </table>
                                    </dd>
                                    <dd class="NLine"></dd>

                                    <dd class="NItem " data-subid="">
                                        <table class="NItemTable">
                                            <tr>
                                                <td class="NItemL"></td>
                                                <td class="NItemM"><a href="/about" title="关于我们">
                        <span>关于我们</span>
                    </a></td>
                                                <td class="NItemR"></td>
                                            </tr>
                                        </table>

                                    </dd>
                                    <dd class="NLine"></dd>
                                    <dd class="NItem " data-subid="">
                                        <table class="NItemTable">
                                            <tr>
                                                <td class="NItemL"></td>
                                                <td class="NItemM"><a href="/estore" title="官方商城">
                        <span>官方商城</span>
                    </a></td>
                                                <td class="NItemR"></td>
                                            </tr>
                                        </table>

                                    </dd>
                                    <dd class="NLine"></dd>
                                    <dd class="NItem " data-subid="">
                                        <table class="NItemTable">
                                            <tr>
                                                <td class="NItemL"></td>
                                                <td class="NItemM"><a href="/crowdfunding" title="D.E.I.">
                        <span>D.E.I.</span>
                    </a></td>
                                                <td class="NItemR"></td>
                                            </tr>
                                        </table>

                                    </dd>


<!-- －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－ -->
                               <td class="NItemR"></td>
                                            </tr>
                                        </table>

                                    </dd>
                                    <dd class="NLine"></dd>
                                    <dd class="NItem " data-subid="">
                                        <table class="NItemTable">
                                            <tr>
                                                <td class="NItemL"></td>
                                                <td class="NItemM"><a href="/flight" title="在线桌游">
                        <span>在线桌游</span>
                    </a></td>
                                                <td class="NItemR"></td>
                                            </tr>
                                        </table>

                                    </dd>

<!-- －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－ -->
                                    

                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="bannerArea" id="banner_area">
                <div class="bannerCon">
                    <div class="ev-banner-module banner-smallpic-style-0" data-canvas-type="0" data-effect-type="0" data-auto-time="5" data-duration-time="1">
                        <div class="ev-banner-inner">
                            <div class="canvas-area canvas-style-0"></div>
                            <div class="piclist-area">
                                <ul class="piclist-box">
                                    <li class="list-item">
                                        <div style="background-color:#ffffff;" class="video-item" data-url="https://aimg8.dlssyht.cn/u/1721546/tj/mp4/861/5da7cf94782088.95829429.mp4" data-open="1" data-muted="0">
                                            <a></a>
                                            <video autoplay="autoplay" src="https://aimg8.dlssyht.cn/u/1721546/tj/mp4/861/5da7cf94782088.95829429.mp4" loop="loop"></video>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

        </div>

        <div class="mainContainer q " id="main_container">

            <div class="addContainer q" id="add_container" data-attr="h:0">
                <div class="customModuleRow customModuleRowAbsolute " id="row_53" data-animated="0">


                    <div class="customModuleRowInner">
                        <div class="CModulePA" style="height:758px;">
                            <div class="ev-module-edit ev-container ev-box-container" id="evMo_rxvHT0" style="width:350px; height:480px; left:40px; top:236px; z-index:3;">
                                <div class="ev-module-edit-box  load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_rxvHT0">
                                    <div class="ev-container-wap">
                                        <div class="ev-container-bg"></div>
                                        <div id="evMo_gAAK85" class="ev-module-edit" style="width:350px; height:480px; left:0px; top:0px; z-index:1;">
                                            <div class="ev-module-edit-box " id="Mo_gAAK85">
                                                <a href="###">
                                                    <div class="ev-pic ev-pic-1 int-onlyimg-small int-dom ">
                                                        <img src="" class="default-img lazy-loading" data-original-src="https://aimg8.dlssyht.cn/module/simplepicbackground/1721546/6582/13162697_1559223230.png?x-oss-process=image/resize,m_fixed,w_350,h_480,limit_0" />

                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="evMo_OVVnMm" class="ev-module-edit" style="width:1200px; height:709px; left:0px; top:50px; z-index:1;">
                                <div class="ev-module-edit-box load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_OVVnMm">
                                    <a href="###">
                                        <div class="ev-base-shape ev-base-shape-1"></div>

                                    </a>
                                </div>
                            </div>
                            <div id="evMo_f7FXeh" class="ev-module-edit" style="width:515px; height:79px; left:342px; top:104px; z-index:2;">
                                <div class="ev-module-text ev-module-edit-box load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_f7FXeh">
                                    <div style="text-align:center;">
                                        <span style="font-family:微软雅黑;font-size:60px;color:#FFFFFF;"><strong>温达克 Wendake</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div id="evMo_b4oo3" class="ev-module-edit" style="width:724px; height:108px; left:416px; top:236px; z-index:4;">
                                <div class="ev-module-text ev-module-edit-box load-animate" data-animate-name="lightSpeedRightIn" data-animate-duration="1.50s" data-animate-delay="0.10s" id="Mo_b4oo3">
                                    <h1 class="ev-text-title-1">
                                        <span style="color:#666666;font-family:微软雅黑;font-size:18px;line-height:1.5;"><strong>温达克，带你走进英法七年战争时期的北美部落，成为那里的酋长，组建你最强的北美部落，发展军事经济，鼓动生育，扩张领土，带领你的部落走向繁荣之路，成就伟大传奇！</strong></span>
                                    </h1>
                                    <p>
                                        <span style="color:#666666;font-family:微软雅黑;font-size:18px;line-height:1.5;"><strong>在这里，你会感受到<span style="color:#ff0000;">独一无二</span>的行动选择机制，记住，无论是军事还是经济都不是发展的唯一途径，如何在各个领域达到平衡，发展处一条属于你自己的道路，才是制胜的关键！</strong>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="ev-module-edit" id="evMo_Qdpyt" style="width:540px; height:361px; left:582px; top:362px; z-index:5;">
                                <div class="ev-module-edit-box " id="Mo_Qdpyt">
                                    <div class="ev-banner-module banner-smallpic-style-0" data-canvas-type="0" data-effect-type="0" data-auto-time="5" data-duration-time="1" data-showsum="5">
                                        <div class="ev-banner-inner">
                                            <div class="canvas-area canvas-style-0"></div>

                                            <div class="piclist-area bannerEffect-0">
                                                <ul class="piclist-box">
                                                    <li class="list-item cur">
                                                        <div class="pic-item" data-imgurl="https://aimg8.dlssyht.cn/ev_user_module_content_tmp/2019_05_31/tmp1559273168_1721546_s.jpg" style="background-color:#ffffff;background-image:url(https://aimg8.dlssyht.cn/ev_user_module_content_tmp/2019_05_31/tmp1559273168_1721546_s.jpg)">
                                                            <a href="#"></a>
                                                        </div>
                                                    </li>
                                                    <li class="list-item ">
                                                        <div class="pic-item" data-imgurl="https://aimg8.dlssyht.cn/ev_user_module_content_tmp/2019_05_31/tmp1559275514_1721546_s.png" style="background-color:#ffffff;background-image:url(https://aimg8.dlssyht.cn/ev_user_module_content_tmp/2019_05_31/tmp1559275514_1721546_s.png)">
                                                            <a href="#"></a>
                                                        </div>
                                                    </li>
                                                    <li class="list-item ">
                                                        <div class="pic-item" data-imgurl="https://aimg8.dlssyht.cn/ev_user_module_content_tmp/2019_05_31/tmp1559275533_1721546_s.png" style="background-color:#ffffff;background-image:url(https://aimg8.dlssyht.cn/ev_user_module_content_tmp/2019_05_31/tmp1559275533_1721546_s.png)">
                                                            <a href="#"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="ctrl-sidebar-area sidebar-style-111" data-skin="111">
                                            <div class="sidebar-box">
                                                <span class="sidebar-inner">
                    <em class="cur"><i>1</i></em>    <em class=""><i>2</i></em>    <em class=""><i>3</i></em>
            </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div id="evMo_zD3ye" class="ev-module-edit" style="width:80px; height:80px; left:450px; top:495px; z-index:6;">
                                <div class="ev-module-edit-box load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_zD3ye">
                                    <a href="https://item.taobao.com/item.htm?spm=a2oq0.12575281.0.0.1d8e1debVLjyyz&ft=t&id=575455110861&qq-pf-to=pcqq.c2c" target="_blank">
                                        <div class="ev-icon-text"><i class="evIcon evIcon-shopcart-1"><i></i></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div id="evMo_9Axc7" class="ev-module-edit" style="width:103px; height:42px; left:446px; top:587px; z-index:7;">
                                <div class="ev-module-text ev-module-edit-box load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_9Axc7">
                                    <h1 class="ev-text-title-1">
                                        <span style="font-family:微软雅黑;font-size:22px;"><strong>点击购买</strong></span>
                                    </h1>
                                </div>
                            </div>
                            <div id="evMo_MSunK" class="ev-module-edit" style="width:451px; height:153px; left:90px; top:0px; z-index:8;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_MSunK">
                                    <p class="ev-text-article-1">
                                        <span style="color:#FFFFFF;font-family:微软雅黑;font-size:16px;">庇护 42- 那些从”白色死神“中逃离出来的伦敦市民，藏于地下庇护所之中的后代，这些幸存者懂得使用旧世的那些技术设备和知识。他们的领袖总是会给那些阻挠他们的人制造一些意外惊喜。</span>
                                    </p>
                                    <div>
                                        <br>
                                    </div>
                                    <p class="ev-text-article-1">
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="customModuleRow customModuleRowAbsolute " id="row_90" data-animated="0">


                    <div class="customModuleRowInner">
                        <div class="CModulePA" style="height:861px;">
                            <div class="ev-module-edit ev-container ev-box-container" id="evMo_QR3uyY" style="width:350px; height:483px; left:40px; top:234px; z-index:3;">
                                <div class="ev-module-edit-box  load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_QR3uyY">
                                    <div class="ev-container-wap">
                                        <div class="ev-container-bg"></div>
                                        <div id="evMo_heerOa" class="ev-module-edit" style="width:350px; height:480px; left:0px; top:1px; z-index:1;">
                                            <div class="ev-module-edit-box " id="Mo_heerOa">
                                                <a href="###">
                                                    <div class="ev-pic ev-pic-1 int-onlyimg-small int-dom ">
                                                        <img src="" class="default-img lazy-loading" data-original-src="https://aimg8.dlssyht.cn/module/simplepicbackground/1721546/6582/13162632_1559222477.png?x-oss-process=image/resize,m_fixed,w_350,h_480,limit_0" />

                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="evMo_L8mO5g" class="ev-module-edit" style="width:1200px; height:704px; left:0px; top:71px; z-index:1;">
                                <div class="ev-module-edit-box load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_L8mO5g">
                                    <a href="###">
                                        <div class="ev-base-shape ev-base-shape-1"></div>

                                    </a>
                                </div>
                            </div>
                            <div id="evMo_rmQWWW" class="ev-module-edit" style="width:798px; height:82px; left:211px; top:117px; z-index:2;">
                                <div class="ev-module-text ev-module-edit-box load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_rmQWWW">
                                    <div style="text-align:center;">
                                        <span style="font-family:微软雅黑;font-size:60px;color:#FFFFFF;"><strong>18Lilliput 小人国火车之旅</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div id="evMo_McQJe" class="ev-module-edit" style="width:724px; height:83px; left:415px; top:225px; z-index:4;">
                                <div class="ev-module-text ev-module-edit-box load-animate" data-animate-name="lightSpeedRightIn" data-animate-duration="1.50s" data-animate-delay="0.10s" id="Mo_McQJe">
                                    <h1 class="ev-text-title-1">
                                        <span style="color:#666666;font-family:微软雅黑;font-size:18px;line-height:1.5;"><strong>一个风靡全球的系列之作，不管是为桌游墙添砖加瓦，还是感受独特的游戏机制，都是不二之选，这款火车游戏中，你将构建自己的铁路世界，打造商业帝国，与对手进行角逐，甚至还能和格列佛一较高下！这不是一场简单的旅途，用脑力来征服这个奇幻世界。</strong></span>
                                    </h1>
                                </div>
                            </div>
                            <div class="ev-module-edit" id="evMo_bgqQS" style="width:540px; height:360px; left:577px; top:341px; z-index:5;">
                                <div class="ev-module-edit-box " id="Mo_bgqQS">
                                    <div class="ev-banner-module banner-smallpic-style-0" data-canvas-type="0" data-effect-type="0" data-auto-time="5" data-duration-time="1" data-showsum="5">
                                        <div class="ev-banner-inner">
                                            <div class="canvas-area canvas-style-0"></div>

                                            <div class="piclist-area bannerEffect-0">
                                                <ul class="piclist-box">
                                                    <li class="list-item cur">
                                                        <div class="pic-item" data-imgurl="https://aimg8.dlssyht.cn/ev_user_module_content_tmp/2019_05_30/tmp1559226769_1721546_s.jpg" style="background-color:#ffffff;background-image:url(https://aimg8.dlssyht.cn/ev_user_module_content_tmp/2019_05_30/tmp1559226769_1721546_s.jpg)">
                                                            <a href="#"></a>
                                                        </div>
                                                    </li>
                                                    <li class="list-item ">
                                                        <div class="pic-item" data-imgurl="https://aimg8.dlssyht.cn/ev_user_module_content_tmp/2019_05_30/tmp1559226599_1721546_s.jpg" style="background-color:#ffffff;background-image:url(https://aimg8.dlssyht.cn/ev_user_module_content_tmp/2019_05_30/tmp1559226599_1721546_s.jpg)">
                                                            <a href="#"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="ctrl-sidebar-area sidebar-style-111" data-skin="111">
                                            <div class="sidebar-box">
                                                <span class="sidebar-inner">
                    <em class="cur"><i>1</i></em>    <em class=""><i>2</i></em>
            </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div id="evMo_54E3c" class="ev-module-edit" style="width:103px; height:31px; left:441px; top:510px; z-index:6;">
                                <div class="ev-module-text ev-module-edit-box load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_54E3c">
                                    <h1 class="ev-text-title-1">
                                        <span style="font-family:微软雅黑;font-size:22px;"><strong>教学视频</strong></span>
                                    </h1>
                                </div>
                            </div>
                            <div id="evMo_6u1jW0" class="ev-module-edit" style="width:102px; height:102px; left:433px; top:400px; z-index:7;">
                                <div class="ev-module-edit-box  load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_6u1jW0">
                                    <a href="https://www.bilibili.com/video/av47902650" target="_blank">
                                        <div class="ev-pic ev-pic-1 ">
                                            <img src="" class="default-img lazy-loading" data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1656928/1919/3836607_1521701241.png?x-oss-process=image/resize,m_fixed,w_102,h_102,limit_0" />

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="customModuleRow customModuleRowAbsolute " id="row_56" data-animated="0">


                    <div class="customModuleRowInner">
                        <div class="CModulePA" style="height:692px;">
                            <div id="evMo_HMNsRg" class="ev-module-edit" style="width:590px; height:572px; left:604px; top:73px; z-index:1;">
                                <div class="ev-module-edit-box  load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_HMNsRg">
                                    <a href="###">
                                        <div class="ev-pic ev-pic-1 ">
                                            <img src="" class="default-img lazy-loading" data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1656928/1919/3836033_1521700643.png?x-oss-process=image/resize,m_fixed,w_590,h_572,limit_0" />

                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div id="evMo_HV9aEA" class="ev-module-edit" style="width:471px; height:230px; left:686px; top:116px; z-index:2;">
                                <div class="ev-module-edit-box  load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_HV9aEA">
                                    <a href="###">
                                        <div class="ev-pic ev-pic-1 ">
                                            <img src="" class="default-img lazy-loading" data-original-src="https://aimg8.dlssyht.cn/module/simplepicbackground/1721546/6584/13167725_1559270593.png?x-oss-process=image/resize,m_fixed,w_471,h_230,limit_0" />

                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div id="evMo_KCUUo" class="ev-module-edit" style="width:282px; height:201px; left:888px; top:393px; z-index:3;">
                                <div class="ev-module-text ev-module-edit-box load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_KCUUo">
                                    <p>
                                        <span style="font-family:微软雅黑;font-size:14px;color:#FFFFFF;line-height:2.2;">&nbsp; &nbsp; &nbsp; &nbsp;我公司主营进口<span style="color:#FFFFFF;font-family:微软雅黑;font-size:14px;">包括各大桌游出版商、兵棋出版社、牌套、骰子等各类桌游资源</span>，目前仍在不断扩展业务范围，希望能够为大家带来更多更全的全球桌游资源</span>
                                        <span
                                            style="color:#FFFFFF;font-family:微软雅黑;font-size:14px;">。</span>
                                    </p>
                                </div>
                            </div>
                            <div id="evMo_DixlW5" class="ev-module-edit" style="width:32px; height:217px; left:817px; top:402px; z-index:4;">
                                <div class="ev-module-edit-box  load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_DixlW5">
                                    <a href="###">
                                        <div class="ev-pic ev-pic-1 ">
                                            <img src="" class="default-img lazy-loading" data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1656928/1919/3836362_1521701008.png?x-oss-process=image/resize,m_fixed,w_32,h_217,limit_0" />

                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div id="evMo_NRobzs" class="ev-module-edit" style="width:643px; height:516px; left:0px; top:96px; z-index:5;">
                                <div class="ev-module-edit-box load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_NRobzs">
                                    <a href="###">
                                        <div class="ev-base-shape ev-base-shape-1"></div>

                                    </a>
                                </div>
                            </div>
                            <div id="evMo_pwMvXS" class="ev-module-edit" style="width:602px; height:475px; left:20px; top:116px; z-index:6;">
                                <div class="ev-module-edit-box  load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_pwMvXS">
                                    <a href="https://enjoygame.taobao.com/index.htm?spm=a1z10.5-c.w5002-16924409877.2.5f374be7d3WyiM" target="_blank">
                                        <div class="ev-pic ev-pic-1 ">
                                            <img src="" class="default-img lazy-loading" data-original-src="https://aimg8.dlssyht.cn/module/simplepicbackground/1721546/6582/13163342_1559227009.png?x-oss-process=image/resize,m_fixed,w_602,h_475,limit_0" />

                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div id="evMo_RGnfJ5" class="ev-module-edit" style="width:0px; height:0px; left:40px; top:136px; z-index:7;">
                                <div class="ev-module-edit-box  load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s" id="Mo_RGnfJ5">
                                    <a href="###">
                                        <div class="ev-pic ev-pic-1 ">
                                            <img src="" class="default-img lazy-loading" data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1656928/1919/3836518_1521701178.png?t=8355" />

                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div id="evMo_AB1Lr" class="ev-module-edit" style="width:470px; height:119px; left:86px; top:27px; z-index:8;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_AB1Lr">
                                    <h1 class="ev-text-title-1">
                                        <span style="color:#EAD1DC;">最有趣的密室逃生系列</span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="footer" id="footer">
            <div class="footerConArea">
                <div class="footerCon">
                    <!--FOOTER NAV START-->
                    <div class="footerNav" id="footer_nav">
                        <a href="/about">关于我们</a><em>|</em> <a href="/estore">官方商城</a> </div>
                    <!--FOOTER NAV END-->
                    <!--COPYRIGHT START-->
                    <div class="copyright" id="copyright">
                        <p>Copyright @ 2018. All rights reserved. enjoy game 版权所有. 浙ICP备18035579号</p>
                        <center id="c2"></center>
                    </div>
                    <!--COPYRIGHT START-->
                </div>
            </div>
            <div class="footerBg"></div>
        </div>

        <script type="text/javascript">
            $("body").attr('id', 'webBody');
            wsf.fullRow.countMoPosition();
        </script>
        <!--online_type==6(2016在线客服)START-->
        <script language="JavaScript" src="/js/new_online_2016.js"></script>
        <link href="/css/new_online2016/sidebar_style.css" rel="stylesheet" type="text/css" />
        <link href="/css/new_online2016/sidebar_color4/sidebar_color.css" rel="stylesheet" type="text/css" />
        <div id="onService_panel" class="qq_onService_panel">
            <div class="sidebar2_Mo">
                <div class="sidebar2_list">
                    <div class="sidebar2_listT ie_w">
                        <div class="list_c"></div>
                    </div>
                    <div class="sidebar2_listC">
                        <a id="prev_btn" class="prev_btn" href="###">
						<img src="/images/new_online2016/prev_icon.png">
					</a>
                        <ul class="function_list">
                            <!---电话-->
                            <li class="list">
                                <a class="tel_icon" href="###"></a>
                                <div class="lxwm_tel alt_c" style="right: -178px; opacity: 0;">
                                    <div class="sidebar2_listT">
                                        <div class="list_c"></div>
                                    </div>
                                    <div class="lxwm_c alt_bg">
                                        <h2 class="lxwm_tit">&#30005;&#35805;&#30452;&#21628;</h2>
                                        <ul class="lxwm_list clearfix">
                                            <li>13484277245</li>
                                            <li>0574-56806015</li>
                                        </ul>
                                    </div>
                                    <div class="sidebar2_listB">
                                        <div class="list_c"></div>
                                    </div>
                                </div>
                            </li>
                            <!---QQ-->
                            <!---二维码-->
                            <li class="list">
                                <a class="edit_icon" href="###"></a>
                                <div class="explain_text alt_c" style="right: -106px; opacity: 0;">
                                    <div class="sidebar2_listT">
                                        <div class="list_c"></div>
                                    </div>
                                    <div class="explain_c alt_bg">
                                        <a href="/self_define/guest_book.php?username=ningbo123">
									<em>&#22312;&#32447;&#30041;&#35328;</em></a>
                                    </div>
                                    <div class="sidebar2_listB">
                                        <div class="list_c"></div>
                                    </div>
                                </div>
                            </li>
                            <!-- 发送邮件 -->
                            <li class="list">
                                <a class="mail_icon" href="###"></a>
                                <div class="explain_text alt_c" style="right: -106px; opacity: 0;">
                                    <div class="sidebar2_listT">
                                        <div class="list_c"></div>
                                    </div>
                                    <div class="explain_c alt_bg">
                                        <a href="mailto:jadewang@enjoygamepublish.com"><em>&#21457;&#36865;&#37038;&#20214;</em></a>
                                    </div>
                                    <div class="sidebar2_listB">
                                        <div class="list_c"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="list">
                                <a class="map_icon" href="###"></a>
                                <div class="explain_text alt_c" style="right: -106px; opacity: 0;">
                                    <div class="sidebar2_listT">
                                        <div class="list_c"></div>
                                    </div>
                                    <div class="explain_c alt_bg">
                                        <a href="/self_define/map.php?username=ningbo123"><em>&#20225;&#19994;&#20301;&#32622;</em></a>
                                    </div>
                                    <div class="sidebar2_listB">
                                        <div class="list_c"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a id="next_btn" class="next_btn" href="###">
						<img src="/images/new_online2016/next_icon.png">
					</a>
                    </div>
                    <div class="sidebar2_listB ie_w">
                        <div class="list_c"></div>
                    </div>
                </div>
                <div class="sidebar2_state">
                    <a id="state_btn" href="###" class=""></a>
                </div>
            </div>
        </div>
        <!--END-->
        <div style="width:100%;line-height:30px;text-align:center; color:#666" class="ev_zhichi">
        </div>



        <a class="backTop_Z" id="backTop" onclick="backTop();" href="javascript:void(0);"></a>
        <!-- END -->
        <script type="text/javascript">
            window.onscroll = function() {
                var winTop_1 = document.documentElement.scrollTop;
                var winTop_2 = document.body.scrollTop;
                var winTop;
                (winTop_1 > winTop_2) ? winTop = winTop_1: winTop = winTop_2;
                if (winTop > 0) {
                    $("#backTop").css({
                        'display': 'block'
                    });
                }
                if (winTop == 0) {
                    $("#backTop").css({
                        'display': 'none'
                    });
                }
            }
        </script>

        <script type="text/javascript">
            $(function() {
                $("a[href$='#_blank']").attr('target', '_blank');
                //$("a[href^='http://']").attr('target','_blank');
                $("a[href$='#_blank']").each(function() {
                    var tmp_url = $(this).attr('href').slice(0, -7);
                    $(this).attr('href', tmp_url);
                });
            })
        </script>
        <script type="text/javascript">
            var ev_log_userid = '1721546';
            var is_edit = '';
            var channel_id = '0';
            var hide_qu_ids = [];
            var hide_qu_ids_seted = [];
            var hide_big_qu_ids = [];
            var is_move = 0;
        </script>
        <script src="/plugins/public/js/md5.js"></script>
        <script src="/js/site_stats.js" id="SiteStats" data-val="0"></script>


        <script type="text/javascript" src="/include/shop_car.js"></script>



        <!--启动百度自动推送功能-->
        <script>
            (function() {
                var bp = document.createElement('script');
                var curProtocol = window.location.protocol.split(':')[0];
                if (curProtocol === 'https') {
                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                } else {
                    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                }
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(bp, s);
            })();
        </script>





        <script type="text/javascript">
            $(function() {
                $("body").on("click", ".fieldTypeUploadFile", function() {
                    var id = $(this).data("id");
                    if (!id) {
                        return false;
                    }

                    $.popup({
                        type: 5,
                        head: {
                            "text": $(this).data("name")
                        },
                        area: {
                            w: 600,
                            h: 400
                        },
                        con: {
                            src: "/dom/FormFile.php?username=ningbo123&field_id=" + id
                        }
                    });
                });
            });

            function updateFormFieldUploadfile(fieldId, filePath) {
                jQuery("#field_" + fieldId).validationEngine('hide')
                $("#field_" + fieldId).css("background-image", "none");
                $("#field_" + fieldId).val(filePath);
            }
        </script>



        <img id="pcCountImg" src="" style="width: 0;height: 0; display: block;">
        <img id="countTimeImg" src="" style="width: 0;height: 0; display: block;">
        <script type="text/javascript">
            $(function() {
                $('#pcCountImg').attr('src', "/images/stat.png?username=ningbo123&client=pc&url=" + encodeURI(window.location.href) + "&t=1582697168&new=0&userid=1721546&uv_id=c1b352a6905b8a22e08559aa7ccb69ed&session_id=k9ugc9p3phfupc0lfp0hqdrqmf&title=" + encodeURI($("title").text()));
                //访问时长统计
                setInterval(function() {
                    $('#countTimeImg').attr('src', "/images/count_time.png?t=" + Math.random() + "&new=0");
                }, 60000);
            });
        </script>

    </div>



</body>

<script type="text/javascript">
    $(function() {
        if ($('#select2').length) {
            var mobile_class = $('#mobile').attr('class');
            $('#select2').change(function() {
                var val = $(this).val();
                if (val != '+86') {
                    $('#mobile').attr('class', 'text-input validate[required]');
                } else {
                    $('#mobile').attr('class', mobile_class);
                }
            })
        }
        var vs = $(".video-js").attr("style");
        setTimeout(function() {
            $(".video-js").attr("style", $(".video-js").attr("style") + vs);
        }, 1000)
    })
</script>

</html>